<header class="nav-header">
  <div class="topnav">
    <div class="sticky">
      <button class="back">
        <i class="fa fa-chevron-left"></i> &nbsp;<a routerLink="/" class="linko">Back to the lab</a>
      </button>
      <h3>STUNLAB</h3>
      <button class="login" [routerLink]="['/', 'login']">Log In</button>
      <button class="signin" [routerLink]="['/', 'signup']">Sign Up</button>
    </div>
  </div>
</header>

<div class="home">
  <div class="section-about">
    <div class="hometext">
      <h1>Enroll To The Latest Published Books</h1>
      <p>
        {{homeText}}
      </p>
    </div>
  </div>
  <h2 class="startext">We provide the best books available</h2>
  <div class="content">
    <div class="text">
      {{homeText}}
    </div>
    <div class="img">
      <img src="assets/images/4.jpg" alt="" class="secimg" />
    </div>
  </div>
  <h2 class="secondtext">Our Values</h2>
  <div class="slideshow">
    <div class="bd-example">
      <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active" style="background-color: #f00;">
          </li>
          <li data-target="#carouselExampleCaptions" data-slide-to="1" style="background-color: #f00;"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="2" style="background-color: #f00;"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="assets/images/EMP.jpg" alt="" class="slideone" />
            <div class="text2">
              <h4 class="emph4">Empowerment</h4>
              {{homeText}}

            </div>
          </div>
          <div class="carousel-item">
            <img src="assets/images/inno.jpg" alt="" class="slideone" />
            <div class="text2">
              <h4 class="emph4">Innovation</h4>
              {{homeText}}

            </div>
          </div>
          <div class="carousel-item">
            <img src="assets/images/know.svg" alt="" class="slideone" />
            <div class="text2">
              <h4 class="emph4">Knowledge</h4>
              {{homeText}}
              d.
            </div>
          </div>
        </div>
        <a class="carousel-control-prev text-success" href="#carouselExampleCaptions" role="button" data-slide="prev"
          style="
            background-color: darkslategray;
            opacity: 2.5;
            top: 49%;
            height: 33px;
            width: 31px;
          ">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next" style="
            background-color: darkslategray;
            opacity: 2.5;
            top: 49%;
            height: 33px;
            width: 31px;
          ">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </a>
      </div>
    </div>
  </div>
  <h2 class="startext">Our Mission</h2>
  <div class="content2">
    <h2 class="startext2">Stunlab oughts to :</h2>
    <div class="text3">
      Increasing the access to high-quality education for everyone, everywhere
      in Rwanda or worldwide
    </div>
    <div class="img">
      <div class="text4">
        Making the process of reading and accessing the latest books easier than
        before.
      </div>
    </div>
    <div class="connect">
    </div>
  </div>


</div>