<section class="footer">
  <div class="row">
    <div class="footer-header col-4 bg-dark">
      <div class="footer-header-content">
        <h4 class="text-left">Stunlab</h4>
        <p class="text-left">
          Stunlab is is one of the Rwanda’s l free learning platforms for
          education and book reading.
        </p>
      </div>
    </div>
    <div class="footer-sitemap col-2 bg-dark">
      <div class="footer-sitemap-content">
        <h4 class="text-left">Site Map</h4>
        <ul>
          <li class="footer-sitemap-link">
            <a class="nav-link" [routerLink]="['/', 'about']"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="footer-sitemap-link">
            <a class="nav-link" [routerLink]="['/', 'about']"
              >About <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="footer-sitemap-link">
            <a class="nav-link" [routerLink]="['/', 'about']"
              >Login <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="footer-sitemap-link">
            <a class="nav-link" [routerLink]="['/', 'about']"
              >Signup <span class="sr-only">(current)</span></a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-sitemap col-2 bg-dark">
      <div class="footer-sitemap-content">
        <h4 class="text-left">More Apps</h4>
        <ul>
          <li class="footer-sitemap-link">
            <a class="nav-link" [routerLink]="['/', 'about']"
              >StunnBook <span class="sr-only">(current)</span></a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-newsletter col-4 bg-dark">
      <div class="footer-newsletter-content">
        <h4 class="text-left">Subscribe to our Newsletter</h4>
        <input
          type="text"
          name="email-address"
          id="subscribe_newsletter"
          class="form-control"
          autocomplete="off"
          placeholder="Email Address"
        />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="footer-section-connect bg-dark col-12">
      <div class="footer-section-connect-content">
        <h4 class="text-left">Connect</h4>
        <ul>
          <li>
            <a href="#"> <img src="assets/images/fb.png" alt="" /></a>
          </li>
          <li>
            <a href="#"><img src="assets/images/twit.png" alt="" /> </a>
          </li>
          <li>
            <a href="#"><img src="assets/images/linkin.png" alt="" /> </a>
          </li>
          <li>
            <a href="#"><img src="assets/images/ig.png" alt="" /> </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="row">
      <div class="footer-bottom-content col-12">
        <h4>STUNNITY</h4>
      </div>
    </div>
  </div>
</section>
