<div class="main">
  <section class="read_feed">
    <div class="read_feed-header">
      <div class="greetings">
        <i class="fa fa-user-secret text-rose display-4 section-icon"></i>
      </div>
      <div class="greetingstext">
        <p>Hello {{username}} continue reading ?</p>
      </div>
      <button class="mybooks" (click)="bookNavigate(true)">OUR BOOKS</button>
    </div>
    <div class="booksviewed" *ngIf="userTotalReads < 1; else userfeed">
      <P>You haven't read any books yet !</P>
      <button (click)="bookNavigate(true)">Our books</button>
    </div>
    <ng-template #userfeed>
      <div class="booksliderdiv1" *ngIf="gotBookResponse; else loadBooks">
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide" *ngFor="let recentRead of recentReads">
              <div class="post">
                <img [src]="sanitizeUrl( recentRead.bookCover)" alt="{{ recentRead.bookName }} Cover"
                  class="slider-image" />
                <div class="post-info">
                  <p id="para">
                    {{ recentRead.bookName }}
                  </p>
                  <div class="post-meta">
                    <p class="book-category text-left">
                      {{ recentRead.bookProvider }}
                    </p>
                    <p class="book-provider text-left">
                      {{ recentRead.bookPublisher }}
                    </p>
                    <p class="book-readers text-left">
                      {{ recentRead.bookViews }}&nbsp;&nbsp;Readers
                    </p>
                    <div class="row text-left">
                      <div class="col-5">
                        <i class="fa fa-thumbs-up" (click)="likeBook(recentRead.ISBN, $event)"
                          id="recent-like-btn-{{recentRead.ISBN}}" [ngClass]="{'liked': recentRead.liked}"></i>
                        <img style="width: 24px; bottom: 0;left: -17px; position: absolute;"
                          src="assets/images/spinner.gif" alt="Loading" *ngIf="likeLoading">

                      </div>
                      <div class="col-5">
                        <i class="fa fa-thumbs-down" (click)="dislikeBook(recentRead.ISBN, $event)"
                          id="recent-dislike-btn-{{recentRead.ISBN}}" [ngClass]="{'disliked': recentRead.disliked}"></i>
                        <img style="width: 24px;bottom: 0;left: -17px;position: absolute;"
                          src="assets/images/spinner.gif" alt="Loading" *ngIf="dislikeLoading">
                      </div>
                    </div>
                  </div>
                  <button class="bookopen" (click)="readBook(recentRead.ISBN)">
                    Read
                  </button>
                  <button class="pop bg-success" id="{{ recentRead.ISBN }}" (click)="bookmark(recentRead.ISBN, $event)"
                    *ngIf="recentRead.bookmarked">
                    Bookmarked
                  </button>
                  <button class="pop" id="{{ recentRead.ISBN }}" (click)="bookmark(recentRead.ISBN, $event)"
                    *ngIf="!recentRead.bookmarked">
                    Bookmark
                  </button>
                </div>
              </div>
            </div>
          </div>

          <!-- Add Arrows -->
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
      <ng-template #loadBooks>
        <div class="loader-area-category firstone">
          <div class="spinner"></div>
        </div>
      </ng-template>
    </ng-template>
  </section>

  <section class="recommendations">
    <ng-template #loadRecommendedBooks>
      <div class="loader-area-category">
        <div class="spinner"></div>
      </div>
    </ng-template>
    <div class="recommendedbooks">
      <i class="fa fa-dashboard  text-rose display-4 section-icon"></i>
    </div>
    <div class="recommendedbookstext">
      <p>Recommended For you</p>
    </div>
    <div *ngIf="gotRecommendationResponse; else loadRecommendedBooks">


      <div class="recommendedbooks_body" *ngFor="let recommendedBook of recommendedBooks; let i = index">


        <i class="fa fa-close cross" id="{{ i }}" (click)="hideBook($event)"></i>
        <div class="book row">
          <img [src]="sanitizeUrl( recommendedBook.bookCover)" alt="{{ recommendedBook.bookName }} Cover"
            class="bookcover" />
          <div class="bookdes">
            <h3>{{ recommendedBook.bookName }}</h3>
            <p>
              This book is the best of all it provides techniques on how you can
              travel through different portals withoutt using the flash speed
              but with only the dphone ring.
            </p>
          </div>
          <h4 class="book-reads">{{ recommendedBook.bookViews }} Reads</h4>
          <h4 class="adv">Adventure</h4>
          <h4 class="category">REB</h4>
          <i class="fa fa-thumbs-up like" (click)="likeBook(recommendedBook.ISBN, $event)"
            [ngClass]="{'liked': recommendedBook.liked}" id="recommend-like-btn-{{recommendedBook.ISBN}}"></i>
          <img style="  width: 24px;bottom: 4%;right: 62%; position: absolute;" *ngIf="likeLoading"
            src="assets/images/spinner.gif" alt="Loading">
          <i class="fa fa-thumbs-down dislike" (click)="dislikeBook(recommendedBook.ISBN, $event)"
            id="recommend-dislike-btn-{{recommendedBook.ISBN}}" [ngClass]="{'liked': recommendedBook.disliked}"></i>
          <img style="width: 24px;bottom: 7px;right: 53%;position: absolute;" *ngIf="dislikeLoading"
            src="assets/images/spinner.gif" alt="Loading">
          <button class="readbook" (click)="readBook(recommendedBook.ISBN)">
            Read Book
          </button>
        </div>
      </div>
    </div>
  </section>

  <section id="others_feed">
    <div id="others_feed_header">
      <div class="othersee">
        <i class="fa fa-line-chart  text-rose display-4 section-icon"></i>
      </div>
      <div class="otherseetext">
        <p>See what others are reading</p>
      </div>
    </div>
    <div class="other-books">
      <div class="booksliderdiv1" *ngIf="gotOtherUserReadsResponse; else loadOtherSeeBooks">
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide" *ngFor="let otherFeed of otherFeeds">
              <div class="post">
                <img [src]="sanitizeUrl( otherFeed.bookCover)" alt="{{ otherFeed.bookName }} Cover" alt=""
                  class="slider-image" />
                <div class="post-info">
                  <p id="para">
                    {{ otherFeed.bookName }}
                  </p>
                  <div class="post-meta">
                    <p class="book-category text-left">
                      {{ otherFeed.bookProvider }}
                    </p>
                    <p class="book-provider text-left">
                      {{ otherFeed.bookPublisher }}
                    </p>
                    <p class="book-readers text-left">
                      {{ otherFeed.bookViews }}&nbsp;&nbsp;Readers
                    </p>
                    <div class="row text-left">
                      <div class="col-5">
                        <i class="fa fa-thumbs-up" (click)="likeBook(otherFeed.ISBN, $event)"
                          id="other-like-btn-{{otherFeed.ISBN}}" [ngClass]="{'liked': otherFeed.liked}"></i>
                        <img style="width: 24px; bottom: 0;left: -17px; position: absolute;" *ngIf="likeLoading"
                          src="assets/images/spinner.gif" alt="Loading"><span class="likes">&nbsp;
                        </span>
                      </div>
                      <div class="col-5">
                        <i class="fa fa-thumbs-down" (click)="dislikeBook(otherFeed.ISBN, $event)"
                          id="other-dislike-btn-{{otherFeed.ISBN}}" [ngClass]="{'disliked': otherFeed.disliked}"></i>
                        <img style="width: 24px;bottom: 0;left: -17px;position: absolute;" *ngIf="dislikeLoading"
                          src="assets/images/spinner.gif" alt="Loading">

                        <span class="diss">&nbsp;</span>
                      </div>
                    </div>
                  </div>
                  <button class="bookopen" (click)="readBook(otherFeed.ISBN)">
                    Read
                  </button>
                  <button class="pop bg-success" id="{{ otherFeed.ISBN }}" (click)="bookmark(otherFeed.ISBN, $event)"
                    *ngIf="otherFeed.bookmarked">
                    Bookmarked
                  </button>
                  <button class="pop" id="{{ otherFeed.ISBN }}" (click)="bookmark(otherFeed.ISBN, $event)"
                    *ngIf="!otherFeed.bookmarked">
                    Bookmark
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- Add Arrows -->
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
    </div>
    <ng-template #loadOtherSeeBooks>
      <div class="loader-othersee">
        <div class="spinner"></div>
      </div>
    </ng-template>
  </section>
  <section class="category_recommendation">
    <div class="recommended-category">
      <div class="recommendcats">
        <i class="fa fa-list-ul  text-rose display-4 section-icon"></i>

      </div>

      <div class="recommendcatstext">
        <p>Categories recommended for you</p>
      </div>
      <ul class="catslist">
        <li *ngFor="let category of recommendedCategories">
          <button (click)="searchBook(category.category, true)">{{ category.category }}</button>
        </li>
      </ul>
    </div>
  </section>
</div>