.nav-item input.form-control {
  border: 1px solid #ced4da;
  padding: 16px;
  box-shadow: none !important;
}
.login a {
  color: black;
  text-decoration: none;
}
.about-link {
  position: absolute;
  list-style: none;
  margin-left: 742px;
}
.about-link a {
  color: rgba(0, 0, 0, 0.5);
  font-size: 17px;
}
.about-link a:hover {
  color: #1c232e;
}
.login:hover {
  background-color: #f5f5f5;
  color: black;
  transition: 0.5s ease;
  border: none;
  border: 1px solid rgb(202, 202, 202);
}

.signin:hover {
  background-color: #dd6e60;
  border: 1px solid #ca6356;
  transition: 0.5s ease;
  font-weight: bolder;
}

.signin {
  border: 1px solid #ec5252;
  color: white;
  padding: 5px;
  width: 80px;
  cursor: pointer;
  font-weight: bolder;
  transform: translateY(-50%);
}

.signin a {
  text-decoration: none;
  color: white;
}

#search {
  cursor: pointer;
  color: #ec5252;
  position: absolute;
  left: 125.9%;
  padding: 10px;
  top: 4%;
}

#search:hover {
  cursor: pointer;
  background-color: #ec5252;
  color: white;
  transition: 0.5s ease;
}

.navbar-collapse .navbar-nav {
  margin-left: 80px;
}
.navbar-collapse .navbar-nav .dropdown a {
  font-size: 16px;
  text-transform: initial;
  color: rgba(0, 0, 0, 0.5);
}
.navbar-collapse .navbar-nav .dropdown a:hover {
  color: #1c232e;
}
.navbar-collapse .navbar-nav .dropdown a:hover .dropdown-item {
  color: #fff;
}
.navbar-collapse .form-inline {
  position: relative;
  margin-top: 3.4%;
  margin-left: 33%;
}
.form-inline .login-btn {
  margin-right: 11px;
}

.form-inline .signup-btn {
  background: #ec5252;
}
.form-inline .signup-btn:hover {
  background: #dc3545;
}

.mainlist {
  position: relative;
  left: -32%;
  text-decoration: none;
}
.search-input {
  margin-left: 115px;
  font-family: "Roboto";

  width: 100%;
}
input.search-input::placeholder {
  color: rgba(0, 0, 0, 0.7);
}
.search-container {
  position: relative;
}

.searchin {
  border: 1px solid rgb(184, 181, 181);
  position: absolute;
  left: 40%;
  padding: 4px;
  width: 23%;
  padding-left: 10px;
}

.searchin::placeholder {
  color: rgb(153, 152, 152);
  padding-left: 5px;
}

.navbar .searchin:focus {
  border: 1px solid #ec5252 !important;
}
.sublist {
  position: absolute;
  display: block;
  background-color: rgba(238, 238, 238, 1);
  padding: 0px;
  width: 177px;
}
.login {
  background-color: transparent;
  border: 1px solid rgb(184, 181, 181);
  padding: 5px;
  width: 80px;
  margin-right: 20px;
  cursor: pointer;
  transform: translateY(-50%);
}

.sublist li {
  position: relative;
  width: 177px;
  padding: 12px;
  border-bottom: 1px solid white;
  display: none;
}

.sublist li:hover {
  display: block;
  color: #ec5252;
  background-color: white;
  transition: 0.2s ease;
  cursor: pointer;
}

.mainlist li:hover .sublist li {
  display: block;
}

.navbar-logo {
  height: 40px;
}

.navbar {
  height: 60px;
  position: fixed;
  width: 100%;
  background-color: white;
  box-shadow: 0px 0px 40px 0px rgba(156, 156, 156, 0.25);
  z-index: 999;
}

/* END OF NAVBAR CSS */

/* HOME IMAGE CSS */

/* WHOLE PAGE MEDIA QUERIES */

/* FOR IPADS */

.scrolled {
  height: 65px;
  transition: all 200ms ease-in-out;
}
.form-control {
  background-image: none !important;
}

.user-details {
  right: 96px;
  display: flex;
  position: absolute;
}
.book-shelf {
  margin: 10px 35px;
}
.user-details .navbar-nav {
  margin: 0 !important;
}
.user-details .dropdown-item {
  padding: 0.27rem 1.5rem !important;
  margin: 0;
}
.user-details .navbar .dropdown-item:hover,
.user-details .navbar .dropdown-item:focus {
  /* box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 255, 255, 0.4); */
  background-color: none;
}

.user-details .dropdown-menu .dropdown-item:hover,
.user-details .dropdown-menu .dropdown-item:focus,
.user-details .dropdown-menu a:hover,
.user-details .dropdown-menu a:focus,
.user-details .dropdown-menu a:active {
  box-shadow: none !important;
  background-color: transparent !important;
  color: black !important;
}
