.alert {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 12px 15px !important;
  z-index: 1;
  font-size: 13px;
}
.alert strong {
  text-transform: uppercase;
}
.alert.alert-danger i {
  color: white !important;
}
.close {
  top: -15px;
  right: 40px;
}
.isOnline-alert {
  right: 15px;
  position: fixed;
  width: 100%;
  z-index: 1;
}
.close:hover {
  color: #fff !important;
  opacity: 1 !important;
}

.online-container{
  position: relative;
}