* {
  box-sizing: border-box;
}
.nav-header {
  position: relative;
  height: 72px;
}
.isOnline {
  right: 15px;
  top: 57px;
  position: fixed;
  width: 100%;
  z-index: 100;
}
.topnav {
  position: relative;
}
.section-about {
  position: relative;
  background-image: url("../../assets/images/boom.jpg");
  background-size: cover;
  height: 576px;
  font-family: "Khula", sans-serif;
  margin-top: -16px;
}

.topnav .back {
  background-color: transparent;
  border: 2px solid rgb(9, 147, 189);
  padding: 6px;
  color: #135e75;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 40px;
}

.topnav h3 {
  position: absolute;
  top: 21%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login {
  background-color: transparent;
  border: 1px solid rgb(184, 181, 181);
  padding: 5px;
  width: 80px;
  position: absolute;
  right: 142px;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
}

.login:hover {
  background-color: #f5f5f5;
  transition: 0.2s ease;
  border: none;
  border: 1px solid rgb(202, 202, 202);
}

.signin:hover {
  background-color: rgb(218, 86, 69);
  border: 1px solid #ca6356;
  transition: 0.2s ease;
  font-weight: bolder;
}

.signin {
  background-color: #ec5252;
  border: 1px solid #ec5252;
  color: white;
  padding: 5px;
  width: 80px;
  position: absolute;
  right: 40px;
  font-weight: bold;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 40px 0px rgba(156, 156, 156, 0.25);
  -moz-box-shadow: 0px 0px 40px 0px rgba(156, 156, 156, 0.25);
  box-shadow: 0px 0px 40px 0px rgba(156, 156, 156, 0.25);
  z-index: 999;
  padding: 10px 0;
  -webkit-transition: all 0.4s ease-out 0s;
  -moz-transition: all 0.4s ease-out 0s;
  -ms-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
  height: 58px;
}

.firstimg {
  width: 100%;
  margin-top: 5%;
}

.startext {
  text-align: center;
  font-weight: 300;
  padding-top: 3%;
  padding-bottom: 3%;
}

.text {
  text-align: justify;
  width: 30%;
  font-size: 17px;
  position: absolute;
  left: 13%;
  top: 119px;
  color: darkslategray;
}

.content {
  display: flex;
  position: relative;
  background-color: #f4f4f4;
  height: 551px;
  margin-left: 113px;
  margin-right: 113px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.secimg {
  position: absolute;
  right: 0px;
  height: 550px;
  width: 50%;
}

.secondtext {
  text-align: center;
  font-weight: 300;
  padding-top: 3%;
  padding-bottom: 3%;
}

.slideshow {
  background-color: #f4f4f4;
  position: relative;
  height: 551px;
  margin-left: 113px;
  margin-right: 113px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.slideone {
  height: 550px;
  width: 50%;
}

.text2 {
  top: 30%;
  position: absolute;
  right: 10%;
  text-align: justify;
  width: 30%;
  font-size: 17px;
  color: darkslategray;
}

.emph4 {
  text-align: center;
  margin-bottom: 17%;
}

.content2 {
  display: flex;
  position: relative;
  background: linear-gradient(197.61deg, #ec5252, #6e1a52);
  height: 405px;
  margin-top: 40px;
  color: white;
  width: 100%;
}

.text3 {
  text-align: justify;
  width: 30%;
  font-size: 17px;
  position: absolute;
  left: 13%;
  top: 119px;
  color: white;
  padding: 38px;
  border: 2px solid white;
  border-radius: 9px;
  box-shadow: 0px 0px 40px 0px rgba(156, 156, 156, 0.25);
}

.text4 {
  text-align: justify;
  width: 30%;
  font-size: 17px;
  position: absolute;
  border: 2px solid white;
  border-radius: 9px;
  top: 119px;
  color: white;
  right: 13%;
  padding: 38px;
  box-shadow: 0px 0px 40px 0px rgba(156, 156, 156, 0.25);
}

.startext2 {
  text-align: center;
  font-weight: 300;
  padding-top: 3%;
  padding-bottom: 3%;
  color: white;
  margin-left: 40%;
}

.connect {
  width: 100%;
  position: absolute;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.1);
  height: 68px;
}

.connect h2 {
  text-align: center;
  color: white;
  position: absolute;
  bottom: 9%;
  right: 50%;
}

.iconfoot1 {
  background-color: white;
  position: absolute;
  bottom: 22%;
  right: 38%;
  padding: 3px;
}

.iconfoot2 {
  background-color: white;
  position: absolute;
  bottom: 22%;
  right: 42%;
  padding: 3px;
}

.iconfoot3 {
  background-color: white;
  position: absolute;
  bottom: 22%;
  right: 46%;
}

.hometext {
  position: absolute;
  margin-left: 6%;
  margin-top: 18%;
}

.hometext h1 {
  color: white;
  font-size: 43px;
  font-family: "Khula", sans-serif;
  font-weight: bolder;
  width: 100%;
}

.hometext p {
  margin-top: 0px;
  margin-left: 30px;
  color: white;
  font-family: Roboto, "Helvetica Neue", sans-serif !important;
  font-weight: 200;
  font-size: 18px;
  width: 58%;
}

.linko {
  text-decoration: none;
  color: #135e75;
}

.linko:hover {
  text-decoration: none;
  color: #135e75;
}

.foot h5 {
  border-bottom: 4px solid #0091c7;
  color: white;
}

.mainfoot {
  position: relative;
}

.footer {
  position: absolute;
  right: 268px;
}

.footer h5 {
  border-bottom: 4px solid #0091c7;
  color: white;
  position: relative;
  height: 30px;
  top: 51px;
  left: 85px;
}

.footer ul li {
  display: block;
  position: relative;
  top: 58px;
  right: 21px;
}

.foot {
  position: absolute;
  left: 268px;
  padding-top: 66px;
}

.downfoot {
  width: 100%;
  background-color: #1c232e;
  color: #505960;
  position: absolute;
  top: 330px;
  display: flex;
  padding: 20px;
}

.myFooter {
  background-color: #2e3942;
  height: 52vh;
  margin-top: 2%;
  position: absolute;
  bottom: 0;
  top: 418%;
  width: 100%;
}

.foot a {
  color: white;
  margin-bottom: 0px;
  padding-top: 17px;
}

.footer a:hover {
  transition: 0.9s ease;
}

.footer a {
  color: white;
  margin-bottom: 0px;
  padding-top: 5px;
  position: relative;
  top: 43px;
}

.downfoot h4 {
  color: white;
}

.downfoot span {
  margin-left: 11%;
  border-right: 1px solid;
  padding: 7px;
}

@media only screen and (max-width: 768px) {
  .hometext {
    top: 7%;
  }
  .hometext h1 {
    font-size: 41px;
    width: 80%;
  }
  .hometext p {
    width: 266px;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
  }
  .signin {
    right: 17px;
    transform: translateY(-50%);
    top: 50%;
  }
  .login {
    right: 117px;
    top: 50%;
    transform: translateY(-50%);
  }
  .topnav h3 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .topnav .back {
    position: relative;
    left: 2%;
  }
  .secimg {
    height: 329px;
  }
  .text {
    width: 39%;
    font-size: 13px;
    left: 5%;
    top: 82px;
  }
  .content {
    height: 329px;
  }
  .text2 {
    top: 11%;
    font-size: 14px;
  }
  .slideshow {
    height: 329px;
  }
  .slideone {
    height: 329px;
  }
  .text3 {
    width: 33%;
  }
  .text4 {
    width: 33%;
  }
  .myFooter {
    height: 39vh;
    top: 99%;
  }
  .footer {
    right: 126px;
  }
  .foot {
    left: 126px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1024px) {
  .hometext {
    position: absolute;
    top: 16%;
  }
  .hometext h1 {
    font-size: 64px;
  }
  .secimg {
    height: 508px;
  }
  .content {
    height: 508px;
  }
  .text {
    width: 34%;
    font-size: 19px;
    left: 9%;
    top: 100px;
  }
  .text3 {
    width: 31%;
  }
  .slideone {
    height: 508px;
  }
  .slideshow {
    height: 508px;
  }
  .text2 {
    top: 25%;
  }
  .myFooter {
    height: 29vh;
    top: 174%;
  }
  .footer {
    right: 187px;
  }
  .foot {
    left: 187px;
  }
}
.scrolled {
  height: 62px !important;
}
