<!-- TOP CATEGORIES -->
<section class="top-categories">
    <div class="lineCateg"></div>
    <h5 class="topcategHead">* Our categories</h5>

    <div class="categ">
        <button class="row">
            <div class="col-3">
                <i class=" fa fa-glass"></i>
            </div>
            <div class="col-6">
                <span> Sciences</span>
            </div>
        </button>
        <button class="row">
            <div class="col-3">
                <i class=" fa fa-desktop"></i>
            </div>
            <div class="col-6">
                <span>Technology</span>
            </div>
        </button>
        <button class="row">
            <div class="col-3">
                <i class="fa fa-language"></i>
            </div>
            <div class="col-6">
                <span>Language</span>
            </div>
        </button>
        <button class="row">
            <div class="col-3">
                <i class="fa fa-heartbeat"></i>
            </div>
            <div class="col-6">
                <span>Health</span>
            </div>
        </button>
        <button class="row">
            <div class="col-3">
                <i class="fa fa-road"></i>
            </div>
            <div class="col-6">
                <span>Environment</span>
            </div>
        </button>
        <button class="row">
            <div class="col-3">
                <i class="fa fa-camera"></i>
            </div>
            <div class="col-6">
                <span>Photography</span>
            </div>
        </button>
        <button class="row">
            <div class="col-3">
                <i class="fa fa-newspaper-o"></i>
            </div>
            <div class="col-6">
                <span>Programming</span>
            </div>
        </button>
        <button class="row">
            <div class="col-3">
                <i class="fa fa-bandcamp"></i>
            </div>
            <div class="col-6">
                <span>Sports</span>
            </div>
        </button>
    </div>
</section>