<div class="most-viewed-component">
  <p class="title">Most reads</p>
  <div class="row">
    <div class="bookdiv col-3">
      <ul class="booknav levels">
        <li class="navlist1" *ngFor="let level of mostViewedLevels; let first = first" [class.active]="first"
          id="{{ level }}" (click)="getLevelBooks(level, $event)">
          <a class="levels-link">{{ level }}</a>
        </li>
        <li class="slide"></li>
      </ul>
    </div>

    <div class="booksliderdiv col-9" *ngIf="gotBookResponse; else loadBooks">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide" *ngFor="let level_book of level_books">
            <div class="post">
              <img [src]="sanitizeUrl( level_book.bookCover)" alt="{{ level_book.bookName }} Cover"
                class="slider-image" />
              <div class="post-info">
                <p id="para">
                  {{ level_book.bookName }}
                </p>
                <div class="post-meta">
                  <p class="book-category text-left">
                    {{ level_book.bookProvider }}
                  </p>
                  <p class="book-provider text-left">
                    {{ level_book.bookPublisher }}
                  </p>
                  <p class="book-readers text-left">
                    {{ level_book.bookViews }}&nbsp;&nbsp;Readers
                  </p>
                  <div class="row text-left">
                    <div class="col-5">
                      <i class="fa fa-thumbs-up" (click)="navigateLogin()"></i><span
                        class="likes">&nbsp;{{ level_book.bookLikes }}</span>
                    </div>
                    <div class="col-5">
                      <i class="fa fa-thumbs-down" (click)="navigateLogin()"></i>
                      <span class="diss">&nbsp;{{ level_book.bookDislikes }}</span>
                    </div>
                  </div>
                </div>
                <button class="bookopen" (click)="navigateLogin()">
                  Read
                </button>
                <button class="pop" id="pop" (click)="navigateLogin()">
                  Bookmark
                </button>
              </div>
            </div>
          </div>
        </div>

        <!-- Add Arrows -->
      </div>
    </div>
    <ng-template #loadBooks>
      <div class="loader-area-category">
        <div class="spinner"></div>
      </div>
    </ng-template>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</div>