<div class="isOnline">
  <app-is-online></app-is-online>
</div>
<div id="notfound" class="container">
  <div class="row">
    <div class="notfound-404 col-6">
      <img src="../../assets/images/book_1.svg" alt="" (click)="onclick()" />
    </div>
    <div class="col-6 not-found-content">
      <h2>Oops! Nothing was found</h2>
      <p>
        The page you are looking for might have been removed, had its name
        changed or is temporarily unavailable. We are Sorry! &nbsp;&nbsp;
        <a [routerLink]="['/', 'home']" class="text-danger">Go to Stunlab</a>
      </p>
    </div>
  </div>
</div>
