<section class="paterners">
    <h2 class="text-center pat">OUR PATTERNERS</h2>
    <div class="paterns">
        <button><img src="assets/images/a.jpg" alt="" /></button>
        <button><img src="assets/images/b.jpg" alt="" /></button>
        <button><img src="assets/images/c.jpg" alt="" /></button>
        <button><img src="assets/images/d.jpg" alt="" /></button>
        <button><img src="assets/images/e.jpeg" alt="" /></button>
        <button><img src="assets/images/f.png" alt="" /></button>
    </div>
</section>