<div class="isOnline">
  <app-is-online></app-is-online>
</div>
<div class="main-content">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div
          *ngIf="errorOccurred"
          class="alert alert-danger alert-dismissible fade show"
          role="alert"
        >
          <button
            type="button"
            class="close"
            data-dismiss="alert"
            aria-label="Close"
            (click)="setToFalse()"
          >
            <span aria-hidden="true">&times;</span>
          </button>
          <strong class="text-bold">Login Failed </strong>&nbsp;&nbsp;{{
            error_message
          }}
        </div>

        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Sign In To Your Account {{ log_msg }}</h4>
            <p class="card-category">Type Your Details Here ...</p>
          </div>
          <div class="container">
            <form (ngSubmit)="login()" class="form" autocomplete="off">
              <div class="form-group first-form-group">
                <span class="ui-float-label">
                  <input
                    class="form-control input"
                    placeholder="Username"
                    name="username"
                    id="float-input-text"
                    type="text"
                    [(ngModel)]="user.username"
                  />
                </span>
              </div>

              <div class="form-group">
                <span class="ui-float-label">
                  <input
                    class="form-control input"
                    placeholder="Password"
                    id="float-input-password"
                    #password
                    type="password"
                    name="password"
                    [(ngModel)]="user.password"
                  />
                </span>

                <div class="icon" (click)="tooglePassword()">
                  <i id="icon" class="fa fa-eye"></i>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-8">
                  <button
                    id="button"
                    class="btn btn-danger submit-button"
                    [disabled]="isLoading || invalidData"
                  >
                    <img
                      *ngIf="isLoading"
                      style="width: 24px; margin-top: -4px;"
                      src="../../assets/images/spinner.gif"
                    />
                    <span id="button-text"> Sign in</span>
                  </button>
                </div>
                <div class="form-group">
                  <a [routerLink]="['/signup']" class="signup"
                    >Don't Have an Account?
                  </a>
                </div>

              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
