<!-- TOP CATEGORIES -->
<section class="top-categories">
    <div class="lineCateg"></div>
    <h5 class="topcategHead">* Our categories</h5>

    <div class="categ">
        <button>
            &nbsp;&nbsp;&nbsp;<img src="assets/images/sci.png" alt="" />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Sciences
        </button>
        <button>
            &nbsp;&nbsp;&nbsp;<img src="assets/images/text.png" alt="" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Technoloy
        </button>
        <button>
            &nbsp;&nbsp;&nbsp;<img src="assets/images/lng.png" alt="" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Language
        </button>
        <button>
            &nbsp;&nbsp;&nbsp;
            <i class="fa fa-newspaper-o"></i>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Literature
        </button>
        <button>
            &nbsp;&nbsp;&nbsp;<img src="assets/images/muntu.png" alt="" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Humanities
        </button>
        <button>
            &nbsp;&nbsp;&nbsp;<img src="assets/images/ict.png" alt="" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Ict
        </button>
        <button>
            &nbsp;&nbsp;&nbsp;<img src="assets/images/pro.png" alt="" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Programming
        </button>
        <button>
            &nbsp;&nbsp;&nbsp;<img src="assets/images/sci.png" alt="" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Sports
        </button>
    </div>
    <!-- section title -->
</section>