.container-fluid {
  overflow: hidden;
}
.loader-area-category {
  position: relative;
  height: 200px;
  width: 100px;
  margin-left: 46%;
  margin-top: 290px;
  margin-bottom: 10px;
}
.text-left .col-5 .fa:before {
  font-size: 23px;
  vertical-align: sub;
}
.text-left .col-5 .fa-thumbs-up:hover {
  color: green;
}
.text-left .col-5 .fa-thumbs-down:hover {
  color: #ca6356;
}

.pop {
  position: absolute;
  top: 21.5%;
  border: none;
  padding: 1px;
  font-size: 13px;
  left: 65%;
  width: 47%;
  background-color: #f1523b;
  color: white;
  border: none;
}
.navlist a {
  pointer-events: none !important;
}

.section-guider .btn.btn-danger {
  background-color: #ec5246 !important;
}
.section-guider .btn.btn-danger:hover {
  background-color: #ed523a !important;
}
.home {
  position: relative;
  background-image: url("../../../assets/images/home-bg-img.jpg");
  background-size: cover;
  height: 570px;
}
.home h1 {
  color: white;
  font-size: 43px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bolder;
  width: 100%;
}
.section-guider {
  position: absolute;
  margin-top: 33%;
  margin-left: 8%;
}
.section-guider button {
  padding: 5px;
  padding: 8px 20px;
  font-size: 19px;
 
  text-transform: uppercase;
}

.section-content {
  margin-left: 6%;
  margin-top: 18%;
  position: absolute;
}

.home p {
  margin-top: -20px;
  margin-left: 30px;
  color: white;

  font-weight: 200;
  font-size: 18px;
  width: 55%;
}

.book-nav-slider {
  position: relative;
}
.bookdiv {
  position: absolute;
  border-bottom: 1px solid #007791;
  border-top: 1px solid #007791;
  left: 20%;
  margin-top: 4%;
}

.booknav {
  margin: 0;
  padding: 0;
}

.booknav li {
  color: black;
  float: left;
  padding-left: 60px;
  padding-top: 17px;
  font-size: 18px;
  padding-bottom: 17px;
  padding-right: 60px;
  width: 200px;
}
.booknav li:hover,
.booknav li a:hover {
  cursor: pointer;
}

.booknav li a {
  text-decoration: none;
  color: #333;
  text-align: center;
}

.slide {
  position: absolute;
  width: 150px;
  height: 100%;
  top: 0;
  left: 0;
  background: #007791;
  z-index: -1;
  transition: 0.5s;
  opacity: 0;
  box-shadow: 1rem 1rem 1rem -1rem #83818133;
}

.booknav li.active a {
  color: white;
}

.booknav li:nth-child(1).active ~ .slide {
  left: 0;

  opacity: 1;
}

.booknav li:nth-child(2).active ~ .slide {
  left: 200px;
  opacity: 1;
}

.booknav li:nth-child(3).active ~ .slide {
  left: 400px;
  opacity: 1;
}

.booknav li:nth-child(4).active ~ .slide {
  left: 600px;
  opacity: 1;
}
.post {
  background: white;
  display: inline-block;
  height: 383px;
  margin: 0px 10px;
  box-shadow: 0 0 1px 1px rgb(216, 216, 216), 0 3px 1px 0 rgba(20, 23, 28, 0.1);
  border-bottom: 4px solid rgba(0, 0, 0, 0.1);
}

.post .slider-image {
  width: 100%;
  height: 172px;
}

.post .post-info {
  width: 194px;
  margin-left: 10px;
  position: relative;
  padding: 5px;
  font-size: 16px;
}
.book-category,
.book-provider,
.book-readers {
  margin-bottom: 0 !important;
}
.post .post-info p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: bolder;
  color: rgb(27, 42, 47);
}


.likes {
  position: relative;
  vertical-align: sub;
}

.diss {
  position: relative;
  vertical-align: sub;
}

.bookopen {
  width: 100%;
  background: #495d70;
  color: white;
  border: none;
  cursor: pointer;
  position: relative;
  font-weight: bolder;
  top: 16px;
  padding: 7px;
  left: 1%;
}

.bookopen:hover {
  background-color: #f1523b;
  color: white;
  transition: 0.5s ease;
}

.booksliderdiv1 {
  position: relative;
  margin-top: 165px;
  width: 100%;
}

.swiper-slide {
  width: 246.333px !important;
  margin-right: 0px !important;
}
.swiper-slide:nth-child(1) {
  margin-left: 75px !important;
}
.swiper-container {
  width: 70% !important;
}
.swiper-button-prev {
  left: 150px !important;
  right: auto !important;
}
.swiper-button-next {
  right: 148px !important;
  left: auto !important;
}

.navlist1 {
  cursor: pointer;
}
