<div class="container-fluid">
  <div class="allPage">

    <section id="home" class="home">
      <div class="section-content">
        <h1>Digital Transformation of Education</h1>
        <br />
        <p>
          Stunlab is is one of the Rwanda’s l free learning platforms for
          education and book reading. It is a for-profit social enterprise
          dedicated to making it possible for anyone, to study anything,
          anywhere, at any time, for free online.
        </p>
      </div>

      <div class="section-guider">
        <button class="btn btn-danger" type="button" [routerLink]="['/', 'signup']">
          Enroll to Stunlab
        </button>
      </div>
    </section>

    <!-- BOOK NAV -->
    <section class="book-nav-slider" id="book-nav-slider">
      <div class="bookdiv">
        <ul class="booknav" id="booknav">
          <li class="navlist" id="{{ category }}" *ngFor="let category of mostViewedCategories; let first = first"
            [class.active]="first" (click)="getCategoryBooks(category, $event)">
            <a>{{ category }}</a>
          </li>
          <li class="slide"></li>
        </ul>
      </div>
    </section>

    <!-- Swiper -->
    <div class="booksliderdiv1" *ngIf="gotBookResponse; else loadBooks">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide" *ngFor="let category_book of category_books">
            <div class="post">
              <img [src]="sanitizeUrl( category_book.bookCover)" alt="{{ category_book.bookName }} Cover"
                class="slider-image" />
              <div class="post-info">
                <p id="para">
                  {{ category_book.bookName }}
                </p>
                <div class="post-meta">
                  <p class="book-category text-left">
                    {{ category_book.bookProvider }}
                  </p>
                  <p class="book-provider text-left">
                    {{ category_book.bookPublisher }}
                  </p>
                  <p class="book-readers text-left">
                    {{ category_book.bookViews }}
                    &nbsp;&nbsp;Readers
                  </p>
                  <div class="row text-left">
                    <div class="col-5">
                      <i class="fa fa-thumbs-up" (click)="sendToLogin()"></i><span
                        class="likes">&nbsp;{{ category_book.bookLikes }}
                      </span>
                    </div>
                    <div class="col-5">
                      <i class="fa fa-thumbs-down" (click)="sendToLogin()"></i>
                      <span class="diss">&nbsp; {{ category_book.bookDislikes }}
                      </span>
                    </div>
                  </div>
                </div>
                <button class="bookopen" (click)="sendToLogin()">
                  Read
                </button>
                <button class="pop" id="pop" (click)="sendToLogin()">
                  Bookmark
                </button>
              </div>
            </div>
          </div>
        </div>

        <!-- Add Arrows -->
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
    <ng-template #loadBooks>
      <div class="loader-area-category">
        <div class="spinner"></div>
      </div>
    </ng-template>

    <app-mostviewed></app-mostviewed>

    <app-statistics></app-statistics>

    <app-our-categories></app-our-categories>

    <app-patterners></app-patterners>

    <app-get-in-touch></app-get-in-touch>

  </div>
</div>

<ng-template #dashboard>
  <!-- <app-dashboard></app-dashboard> -->
</ng-template>