<section class="paterners">
    <h2 class="text-center pat">OUR PATTERNERS</h2>
    <div class="paterns">
        <button><img src="assets/images/rwanda.jpg" alt="Rwanda" /></button>
        <button><img src="assets/images/reb.jpg" alt="REB" /></button>
        <button><img src="assets/images/wda.jpg" alt="WDA" /></button>
        <button><img src="assets/images/risa.jpg" alt="RISA" /></button>
        <button><img src="assets/images/rca.jpeg" alt="RCA" /></button>
        <button><img src="assets/images/rp.png" alt="RP" /></button>
    </div>
</section>