

/* PATTERNERS CSS */

.pat {
  font-weight: 700;
  color: #3c4858;
  font-size: 28px;
  position: relative;
  margin-top: 3%;
  margin-left: 6%;
  }
  
  .paterns {
    background-color: #f7f8fa;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-top: 2%;
  }
  
  .paterns button {
    background-color: white;
    width: 25%;
    margin: 52px;
    border: none;
    filter: grayscale(100%);
  }
  
  .paterns button img {
    width: 200px;
    padding: 16px;
  }
  
  .paterns button:hover {
    box-shadow: 0 0 22px #83818133;
    filter: grayscale(0%);
    transition: 0.2s ease;
  }
  
  /* END OF PATTERNERS CSS */
  