<div class="container-fluid">
  <section class="personal-profile">
    <!-- <img [src]="imageToShow" alt="Place image title" *ngIf="!isImageLoading; else noImageFound"> -->
    <p class="heading1">Personal profile</p>
    <div class="profile">
      <img style="width: 295px; margin: 23px 31%;" alt="{{updateForm.get('username').value}}" *ngIf="avatarAvailable"
        [src]="avatar" />
    </div>
    <p class="detailshead">Reader</p>
    <div class="details-section">
      <div class="container  col-md-5">
        <form (ngSubmit)="updateUser()" [formGroup]="updateForm" class="form" autocomplete="off">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <input placeholder="Username" formControlName="username" type="text" class="form-control input" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input type="email" formControlName="email" class="form-control email" placeholder="Email" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" formControlName="phone" class="form-control input" placeholder="Phone Number" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" formControlName="firstName" class="form-control input" placeholder="First Name" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" formControlName="secondName" class="form-control input" placeholder="Second Name" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" formControlName="joined_at" class="form-control input" placeholder="Joined" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="gender" class="gender-select">Gender</label>
                <select class="form-control input" formControlName="gender">
                  <option value="M">Male</option>
                  <option value="F">Female</option>
                </select><br />
              </div>
            </div>
          </div>
          <!-- <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" class="form-control input" placeholder="Create Password"
                  formControlName="password"
                  [ngClass]="{'is-invalid': updateForm.get('password').invalid && updateForm.get('password').dirty, 'is-valid': updateForm.get('password').valid}" />
                <span class="text-danger"
                  *ngIf="updateForm.get('password').invalid && updateForm.get('password').dirty">{{getPasswordError()}}</span>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="password" formControlName="c_password" class="form-control input"
                  placeholder="Confirm Password"
                  [ngClass]="{'is-invalid':  updateForm.hasError('unmatch') && updateForm.get('c_password').dirty, 'is-valid': !updateForm.hasError('unmatch')  && updateForm.get('c_password').dirty}" />
              </div>
            </div>
          </div> -->
          <div class="row">
            <div class="form-group col-md-8">
              <button id="button" class="btn btn-danger submit-button"
                [disabled]="isLoading || updateForm.invalid || !updateForm.dirty">
                <img *ngIf=" isLoading" style="width: 24px; margin-top: -4px;" src="assets/images/spinner.gif" />
                <span id="button-text"> Update Account</span>
              </button>
            </div>
          </div>
        </form>
      </div>

    </div>
  </section>
</div>