
/* CONTACT CSS */

.contact-info {
    position: relative;
    /* height: 100%; */
    width: 81%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 361px;
    padding: 10px 40px 40px;
    box-shadow: 0px 0px 40px 0px rgba(156, 156, 156, 0.25);
    background-color: #fff;
    margin-top: 28px;
  }
  
  .contact-info h4 {
    position: absolute;
    top: 12%;
    left: 6%;
    font-weight: bold;
    font-size: 26px;
  }
  
  .contact h2 {
    position: relative;
    margin-top: 4%;
    font-weight: 800;
    margin-left: 63%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 36px;
  }
  
  .contact-list {
    position: absolute;
    top: 33%;
    left: 6%;
  }
  
  .contact-list li {
    padding-bottom: 29px;
  }
  
  .contact-list li img {
    padding-right: 28px;
  }
  
  .contact-info input {
    width: 45%;
    height: 55px;
    border: 1px solid #ddd;
    background-color: #f7f7ff;
    padding: 0 20px;
    margin-right: 24px;
  }
  
  .forminputs {
    position: absolute;
    width: 60%;
    left: 38%;
    top: 10%;
  }
  
  #submit-button {
    text-transform: capitalize;
  }
  .textareaform {
    height: 55px;
    border: 1px solid #ddd;
    background-color: #f7f7ff;
    padding: 0 20px;
    width: 93.6%;
    margin-top: 33px;
    padding-top: 13px;
    resize: none;
  }
  
  .contact-info button {
    cursor: pointer;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #fe7865;
    padding: 0 35px;
    font-size: 16px;
    line-height: 48px;
    color: #fff;
    z-index: 5;
    transition: all 0.4s ease-out 0s;
    background-color: #fe7865;
    position: absolute;
    top: 59%;
    left: 38%;
  }
  
  /* END OF CONTACT CSS */
  .report-section {
    position: absolute;
    bottom: 105px;
    right: 64px;
  }
  .report-section a {
    color: #ef7464;
    font-family: Khula, sans-serif;
  }
  .report-section a:hover {
    color: #ec5252;
    text-decoration: underline;
    cursor: pointer;
  }
  
  .modal-body .form-control {
    border: 1px solid #ced4da;
    border-radius: 6px;
    padding: 8px;
  }
  .modal-footer {
    font-family: "Khula", sans-serif !important;
  }
  .modal-body .form-control:focus {
    background-image: none !important;
    border: none !important;
  }
