@import "../signup/signup.component.css";
.heading1 {
  position: relative;
  margin-top: 3%;
  text-align: center;
  font-weight: bolder;
  font-size: 26px;
}
.about-navbar {
  height: 60px;
}

.personal-profile {
  position: relative;
  margin-top: 53px;
}
.profile {
  border: 1px solid #8a92a3;
  height: 350px;
  width: 44%;
  margin: 0 auto;
  position: relative;
}

.name {
  text-align: center;
  margin-top: 40%;
  font-weight: 600;
  font-size: 19px;
}

.type {
  text-align: center;
  padding-top: 25px;
  font-size: 18px;
}

.details {
  position: relative;
  background-color: #ecf1f5;
  margin: 0 auto;
  width: 80%;
  height: 56vh;
  padding-top: 69px;
}
.container.col-md-5{
  background: #fbfbfb;
  padding: 23px;

}

.labelname {
  position: absolute;
  left: 120px;
}

.labelname1 {
  position: absolute;
  left: 60%;
  margin-top: -22px;
}

.inputfield {
  position: absolute;
  left: 226px;
  width: 25%;
  padding: 8px;
  margin-top: -4px;
}

.inputfield1 {
  position: absolute;
  left: 70%;
  margin-top: -27px;
  width: 25%;
  padding: 8px;
}

.labelname3 {
  position: absolute;
  left: 120px;
  margin-top: 30px;
}

.inputfield3 {
  position: absolute;
  left: 226px;
  width: 25%;
  padding: 8px;
  margin-top: 30px;
}

.detailshead {
  font-weight: bolder;
  font-size: 26px;
  position: relative;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 3%;
}

.savebut {
  width: 89px;
  padding: 3px;
  position: relative;
  transform: translateX(-50%);
  left: 92%;
  top: 81px;
  background: #f1523b;
  color: white;
  border: none;
}
.gender-select{
    position: absolute;
    right: 7px;
    top: 9px;
}

.form-control {
  border: 1px solid #ced4da;
  border-radius: 6px;
  padding: 8px !important;
}

input {
  border: none;
  background: white;
}

select {
  background-color: white;
  border: none;
}

/*

@media only screen and (max-width: 768px) {
  /* NAV BAR MEDIA QUERIES */
#search {
  position: absolute;
  left: 58.5%;
}
.navbar-logo {
  height: 37px;
}
.mainlist {
  margin-left: 0px;
}
.login {
  right: 16%;
}
/* END OF NAV BAR MEDIA QUERIES */
.profile {
  width: 70%;
}
.details {
  height: 35vh;
}
.labelname {
  left: 53px;
}
.inputfield {
  left: 147px;
  width: 27%;
}
.labelname1 {
  left: 57%;
}
.labelname3 {
  left: 53px;
}
.inputfield3 {
  left: 147px;
  width: 27%;
}
.savebut {
  left: 87%;
}
.myFooter {
  height: 38vh;
  top: 111%;
}
.footer {
  right: 134px;
}
.foot {
  left: 134px;
}

.scrolled {
  height: 65px;
  transition: all 200ms ease-in-out;
}
.isOnline {
  top: 60px;
  z-index: 100;
  position: fixed;
}
