<div class="isOnline">
  <app-is-online></app-is-online>
</div>
<div class="container-fluid">
  <div class="about-navbar">
    <app-navbar></app-navbar>
  </div>
  <section class="personal-profile">
    <!-- <img [src]="imageToShow" alt="Place image title" *ngIf="!isImageLoading; else noImageFound"> -->
    <p class="heading1">Personal profile</p>
    <div class="profile">
      <img style="width: 295px; margin: 23px 31%;" alt="{{updateForm.get('username').value}}" [src]="avatar" />
    </div>
    <p class="detailshead">Reader</p>
    <div class="details-section">
      <div class="container  col-md-5">
        <form (ngSubmit)="updateUser()" [formGroup]="updateForm" class="form" autocomplete="off">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <input placeholder="Username" formControlName="username" type="text" class="form-control input" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input type="email" formControlName="email" class="form-control email" placeholder="Email" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" formControlName="phone" class="form-control input" placeholder="Phone Number" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" formControlName="firstName" class="form-control input" placeholder="First Name" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" formControlName="secondName" class="form-control input" placeholder="Second Name" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" formControlName="joined_at" class="form-control input" placeholder="Joined" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="gender" class="gender-select">Gender</label>
                <select class="form-control input" formControlName="gender">
                  <option value="M">Male</option>
                  <option value="F">Female</option>
                </select><br />
              </div>
            </div>
          </div>
          <!-- <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" class="form-control input" placeholder="Create Password"
                  formControlName="password"
                  [ngClass]="{'is-invalid': updateForm.get('password').invalid && updateForm.get('password').dirty, 'is-valid': updateForm.get('password').valid}" />
                <span class="text-danger"
                  *ngIf="updateForm.get('password').invalid && updateForm.get('password').dirty">{{getPasswordError()}}</span>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="password" formControlName="c_password" class="form-control input"
                  placeholder="Confirm Password"
                  [ngClass]="{'is-invalid':  updateForm.hasError('unmatch') && updateForm.get('c_password').dirty, 'is-valid': !updateForm.hasError('unmatch')  && updateForm.get('c_password').dirty}" />
              </div>
            </div>
          </div> -->
          <div class="row">
            <div class="form-group col-md-8">
              <button id="button" class="btn btn-danger submit-button"
                [disabled]="isLoading || updateForm.invalid || !updateForm.dirty">
                <img *ngIf=" isLoading" style="width: 24px; margin-top: -4px;" src="assets/images/spinner.gif" />
                <span id="button-text"> Update Account</span>
              </button>
            </div>
          </div>
        </form>
      </div>
      <!-- <label for="firstname" class="labelname">First name</label>
      <input type="text" value="{{user.firstName}}" class="inputfield" id="" /><br />
      <label for="lastname" class="labelname1">Surname </label>
      <input type="text" value="{{user.secondName}}" id="" class="inputfield1" /><br />
      <label for="country" class="labelname">Gender</label>
      <select id="country"  class="inputfield">
        <option value="se">Select your country</option>
        <option value="Afganistan">Afghanistan</option>
        <option value="Albania">Albania</option>
        <option value="Algeria">Algeria</option>
        <option value="American Samoa">American Samoa</option>

        <option value="Zimbabwe">Zimbabwe</option>
      </select><br />
      <label for="nationality" class="labelname1">Nationality</label>
      <select name="nationality" class="inputfield1">
        <option value="">Select your nationality</option>
        <option value="afghan">Afghan</option>
        <option value="albanian">Albanian</option>
        <option value="algerian">Algerian</option>
        <option value="american">American</option>

        <option value="zimbabwean">Zimbabwean</option>
      </select><br />
      <label for="dob" class="labelname">Date of birth</label>
      <input type="date" name="dob" id="" class="inputfield" /><br />
      <label for="email" class="labelname1">Email</label>
      <input type="email" name="email" id="" class="inputfield1" />
      <label for="gender" class="labelname3">Gender</label>
      <select name="gender" id="" class="inputfield3">
        <option value="gender">Gender</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
      </select><br />

      <button class="savebut">Save</button> -->
    </div>
  </section>
  <app-footer></app-footer>
</div>