.nav-item input.form-control {
  border: 1px solid #ced4da;
  padding: 16px;
  box-shadow: none !important;
}


.topnav .back {
  background-color: transparent;
  border: 2px solid rgb(9, 147, 189);
  padding: 6px;
  color: #135e75;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 40px;
}
.back a {
  color: #135e75;
}
.topnav h3 {
  position: absolute;
  top: 21%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav-header .login {
  background-color: transparent;
  border: 1px solid rgb(184, 181, 181);
  padding: 5px;
  width: 80px;
  position: absolute;
  right: 142px;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
}

.nav-header .login:hover {
  background-color: #f5f5f5;
  transition: 0.2s ease;
  border: none;
  border: 1px solid rgb(202, 202, 202);
}

.nav-header .signin:hover {
  background-color: rgb(218, 86, 69);
  border: 1px solid #ca6356;
  transition: 0.2s ease;
  font-weight: bolder;
}

.nav-header .signin {
  background-color: #ec5252;
  border: 1px solid #ec5252;
  color: white;
  padding: 5px;
  width: 80px;
  position: absolute;
  right: 40px;
  font-weight: bold;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
}

.sticky {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  background-color: #fff;
  transition: all 0.4s ease-out 0s;
  height: 58px;
}

.nav-header {
  position: relative;
  height: 72px;
}
.topnav {
  position: relative;
}

.about-link {
  position: absolute;
  list-style: none;
  margin-left: 742px;
}
.user-details .fa,
.user-details .book-shelf img {
  cursor: pointer;
}
.navbar .navbar-brand {
  height: 50px;
  font-size: 1.125rem;
  line-height: 30px;
  padding: 0.625rem 0;
  font-weight: 300;
  margin-top: -10px;
}

.about-link a {
  color: rgba(0, 0, 0, 0.5);
  font-size: 17px;
}
.about-link a:hover {
  color: #1c232e;
}
.login:hover {
  background-color: #f5f5f5;
  color: black;
  transition: 0.5s ease;
  border: none;
  border: 1px solid rgb(202, 202, 202);
}

.signin:hover {
  background-color: #dd6e60;
  border: 1px solid #ca6356;
  transition: 0.5s ease;
  font-weight: bolder;
}

.signin {
  border: 1px solid #ec5252;
  color: white;
  padding: 5px;
  width: 80px;
  cursor: pointer;
  font-weight: bolder;
  transform: translateY(-50%);
}

.signin a {
  text-decoration: none;
  color: white;
}
.email-input{
  border: 1px solid #949494;
  padding: 7px;
}

.email-input:focus{
  border: none;
}


#search {
  cursor: pointer;
  color: #ec5252;
  position: absolute;
  left: 125.9%;
  padding: 10px;
  top: 4%;
}

#search:hover {
  cursor: pointer;
  background-color: #ec5252;
  color: white;
  transition: 0.5s ease;
}

.navbar-collapse .navbar-nav {
  margin-left: 80px;
}
.navbar-collapse .navbar-nav .dropdown a {
  font-size: 16px;
  text-transform: initial;
  color: rgba(0, 0, 0, 0.5);
}
.navbar-collapse .navbar-nav .dropdown a:hover {
  color: #1c232e;
}
.navbar-collapse .navbar-nav .dropdown a:hover .dropdown-item {
  color: #fff;
}
.navbar-collapse .form-inline {
position: relative;
  margin-top: 3.4%;
  margin-left: 33%;
}

.fa-list-ul {
  font-size: 18px !important;
  vertical-align: unset !important;
}

.search-input {
  margin-left: 115px;
  width: 100%;
}
input.search-input::placeholder {
  color: rgba(0, 0, 0, 0.7);
}
.search-container {
  position: relative;
}
.header {
  position: absolute;
  top: 0;
}

.login {
  background-color: transparent;
  border: 1px solid rgb(184, 181, 181);
  padding: 5px;
  width: 80px;
  margin-right: 20px;
  cursor: pointer;
  transform: translateY(-50%);
}

.navbar-logo {
  height: 40px;
}

.navbar {
  height: 60px;
  position: fixed;
  width: 100%;
  background-color: white;
  box-shadow: 0px 0px 40px 0px rgba(156, 156, 156, 0.25);
  z-index: 999;
}

.scrolled {
  height: 65px;
  transition: all 200ms ease-in-out;
}
.form-control {
  background-image: none !important;
}

.user-details {
  right: 96px;
  display: flex;
  position: absolute;
}
.book-shelf {
  margin: 10px 35px;
}
.user-details .navbar-nav {
  margin: 0 !important;
}
.user-details .dropdown-item {
  padding: 0.27rem 1.5rem !important;
  margin: 0;
}
.user-details .navbar .dropdown-item:hover,
.user-details .navbar .dropdown-item:focus {
  background-color: none;
}
.navbar-nav {
  cursor: pointer;
}
.category-area .dropdown-item {
  cursor: pointer;
}
.user-details .dropdown-menu .dropdown-item:hover,
.user-details .dropdown-menu .dropdown-item:focus,
.user-details .dropdown-menu a:hover,
.user-details .dropdown-menu a:focus,
.user-details .dropdown-menu a:active {
  box-shadow: none !important;
  background-color: transparent !important;
  color: black !important;
}
.liked-books {
  margin-top: 3px;
  margin-right: 27px;
  position: relative;
  font-size: 24px;
}
.fa-book {
  vertical-align: -webkit-baseline-middle;
}
.fa-book:hover {
  color: #ee6f83 !important;
}

.signin.btn-danger {
  background-color: #ec5246 !important;
}

.signin.btn-danger:hover {
  background-color: #ed523a !important;
  box-shadow: 0 14px 26px -12px rgba(244, 67, 54, 0.42),
    0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(244, 67, 54, 0.2);
}
