<div class="main">
  <app-navbar></app-navbar>
  <div class="isOnline">
    <app-is-online></app-is-online>
  </div>

  <section class="read_feed">
    <div class="read_feed-header">
      <div class="greetings">
        <img src="assets/images/alert.png" alt="" class="alert" />
      </div>
      <div class="greetingstext">
        <p>Hello username continue reading ?</p>
      </div>
      <button class="mybooks" (click)="bookNavigate(false)">BOOK SHELF</button>
    </div>
    <div class="booksviewed" *ngIf="number_books < 1; else userfeed">
      <P>You haven't read any books yet !</P>
      <button (click)="bookNavigate(true)">Our books</button>
    </div>
    <ng-template #userfeed>
      <div class="booksliderdiv1" *ngIf="gotBookResponse; else loadBooks">
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide" *ngFor="let recent_read of recent_reads">
              <div class="post">
                <img src="assets/images/bb.jpg" alt="" class="slider-image" />
                <div class="post-info">
                  <p id="para">
                    {{ recent_read.title }}
                  </p>
                  <div class="post-meta">
                    <p class="book-category text-left">
                      {{ recent_read.provider }}
                    </p>
                    <p class="book-provider text-left">
                      {{ recent_read.publisher }}
                    </p>
                    <p class="book-readers text-left">
                      {{ recent_read.readers }}&nbsp;&nbsp;Readers
                    </p>
                    <div class="row text-left">
                      <div class="col-5">
                        <i
                          class="fa fa-thumbs-up"
                          (click)="likeBook(recent_read.ISBN)"
                        ></i
                        ><span class="likes"
                          >&nbsp; {{ recent_read.likes }}</span
                        >
                      </div>
                      <div class="col-5">
                        <i
                          class="fa fa-thumbs-down"
                          (click)="dislikeBook(recent_read.ISBN)"
                        ></i>
                        <span class="diss"
                          >&nbsp; {{ recent_read.dislikes }}</span
                        >
                      </div>
                    </div>
                  </div>
                  <button class="bookopen" (click)="readBook(recent_read.ISBN)">
                    Read
                  </button>
                  <button
                    class="pop"
                    id="{{ recent_read.ISBN }}"
                    (click)="bookmark(recent_read.ISBN, $event)"
                  >
                    Bookmark
                  </button>
                </div>
              </div>
            </div>
          </div>

          <!-- Add Arrows -->
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
      <ng-template #loadBooks>
        <div class="loader-area-category firstone">
          <div class="spinner"></div>
        </div>
      </ng-template>
    </ng-template>
  </section>

  <section class="recommendations">
    <ng-template #loadRecommendedBooks>
      <div class="loader-area-category">
        <div class="spinner"></div>
      </div>
    </ng-template>
    <div class="recommendedbooks">
      <img src="assets/images/book1.png" alt="" class="alert" />
    </div>
    <div class="recommendedbookstext">
      <p>Recommended For you</p>
    </div>
    <div *ngIf="gotRecommendationResponse; else loadRecommendedBooks">
      <div
        class="recommendedbooks_body"
        *ngFor="let recommended_book of recommended_books; let i = index"
      >
        <img
          src="assets/images/cross.png"
          alt=""
          class="cross"
          id="{{ i }}"
          (click)="hideBook($event)"
        />
        <div class="book row">
          <img src="assets/images/bookcover.jpg" alt="" class="bookcover" />
          <div class="bookdes">
            <h3>{{ recommended_book.title }}</h3>
            <p>
              This book is the best of all it provides techniques on how you can
              travel through different portals withoutt using the flash speed
              but with only the dphone ring.
            </p>
          </div>
          <h4 class="book-reads">340 Reads</h4>
          <h4 class="adv">Adventure</h4>
          <h4 class="category">REB</h4>
          <i
            class="fa fa-thumbs-up like"
            (click)="likeBook(recommended_book.ISBN)"
          ></i>

          <p class="likes">203</p>
          <i
            class="fa fa-thumbs-down dislike"
            (click)="dislikeBook(recommended_book.ISBN)"
          ></i>
          <p class="dislikes">304</p>
          <button class="readbook" (click)="readBook(recommended_book.ISBN)">
            Read Book
          </button>
        </div>
      </div>
    </div>
  </section>

  <section id="others_feed">
    <div id="others_feed_header">
      <div class="othersee">
        <img src="assets/images/trending.png" alt="" class="alert" />
      </div>
      <div class="otherseetext">
        <p>See what others are reading</p>
      </div>
    </div>
    <div class="other-books">
      <div
        class="booksliderdiv1"
        *ngIf="gotOtherUserReadsResponse; else loadOtherSeeBooks"
      >
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide" *ngFor="let others_feed of others_feeds">
              <div class="post">
                <img src="assets/images/bb.jpg" alt="" class="slider-image" />
                <div class="post-info">
                  <p id="para">
                    {{ others_feed.title }}
                  </p>
                  <div class="post-meta">
                    <p class="book-category text-left">
                      {{ others_feed.provider }}
                    </p>
                    <p class="book-provider text-left">
                      {{ others_feed.publisher }}
                    </p>
                    <p class="book-readers text-left">
                      {{ others_feed.readers }}&nbsp;&nbsp;Readers
                    </p>
                    <div class="row text-left">
                      <div class="col-5">
                        <i
                          class="fa fa-thumbs-up"
                          (click)="likeBook(others_feed.ISBN)"
                        ></i
                        ><span class="likes"
                          >&nbsp; {{ others_feed.likes }}</span
                        >
                      </div>
                      <div class="col-5">
                        <i
                          class="fa fa-thumbs-down"
                          (click)="dislikeBook(others_feed.ISBN)"
                        ></i>
                        <span class="diss"
                          >&nbsp; {{ others_feed.disliked }}</span
                        >
                      </div>
                    </div>
                  </div>
                  <button class="bookopen" (click)="readBook(others_feed.ISBN)">
                    Read
                  </button>
                  <button
                    class="pop"
                    id="{{ others_feed.ISBN }}"
                    (click)="bookmark(others_feed.ISBN, $event)"
                  >
                    Bookmark
                  </button>
                </div>
              </div>
            </div>
          </div>

          <!-- Add Arrows -->
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
    </div>
    <ng-template #loadOtherSeeBooks>
      <div class="loader-othersee">
        <div class="spinner"></div>
      </div>
    </ng-template>
  </section>
  <section class="category_recommendation">
    <div class="recommended-category">
      <div class="recommendcats">
        <img src="assets/images/categories.png" alt="" class="alert" />
      </div>

      <div class="recommendcatstext">
        <p>Categories recommended for you</p>
      </div>
      <ul class="catslist">
        <li *ngFor="let recommended_category of recommended_categories">
          <Button
            #{{recommended_category}}
            (click)="searchBook(recommended_category, true)"
            >{{ recommended_category }}</Button
          >
        </li>
      </ul>
    </div>
  </section>
</div>
<div class="footer">
  <app-footer></app-footer>
</div>
