.alert {
    font-size: 13px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-weight: lighter;
    padding: 16px 19px;
  }

  .alert-dismissible .close {
    top: 3px;
  }

  .alert-dismissible .close:hover {
    color: white;
  }