<app-is-online top="0"></app-is-online>
<div class="container-fluid">
  <div class="main-content">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <app-error [error]='errorMessage' *ngIf="errorOccurred"></app-error>
          <div class="card">
            <div class="card-header card-header-danger">
              <h4 class="card-title">Create New Account</h4>
              <p class="card-category">Type Your Details Here ...</p>
            </div>
            <div class="container">
              <form (ngSubmit)="signUp()" [formGroup]="signUpForm" class="form" autocomplete="off">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <input placeholder="Username" formControlName="username"
                        [ngClass]="{'is-invalid': signUpForm.get('username').invalid && signUpForm.get('username').dirty, 'is-valid': signUpForm.get('username').valid}"
                        type="text" class="form-control input" />
                      <span class=" text-danger"
                        *ngIf="signUpForm.get('username').invalid">{{getUsernameError()}}</span>
                    </div>
                    <img *ngIf="signUpForm.get('username').pending" class="pending-spinner" title="Checking"
                      src="assets/images/spinner.gif" />
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <input type="email" formControlName="email" class="form-control email" placeholder="Email"
                        [ngClass]="{'is-invalid': signUpForm.get('email').invalid && signUpForm.get('email').dirty, 'is-valid': signUpForm.get('email').valid}" />
                      <span class=" text-danger" *ngIf="signUpForm.get('email').invalid">{{getEmailError()}}</span>

                    </div>
                    <img *ngIf="signUpForm.get('email').pending" class="pending-spinner" title="Checking"
                      src="assets/images/spinner.gif" />
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <input type="text" formControlName="phone" class="form-control input"
                        placeholder="Phone Number" />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <input type="password" class="form-control input" placeholder="Create Password"
                        formControlName="password"
                        [ngClass]="{'is-invalid': signUpForm.get('password').invalid && signUpForm.get('password').dirty, 'is-valid': signUpForm.get('password').valid}" />
                      <span class="text-danger"
                        *ngIf="signUpForm.get('password').invalid && signUpForm.get('password').dirty">{{getPasswordError()}}</span>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <input type="password" formControlName="c_password" class="form-control input"
                        placeholder="Confirm Password"
                        [ngClass]="{'is-invalid':  signUpForm.hasError('unmatch') && signUpForm.get('c_password').dirty, 'is-valid': !signUpForm.hasError('unmatch')  && signUpForm.get('c_password').dirty}" />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-md-8">
                    <button id="button" class="btn btn-danger submit-button"
                      [disabled]="isLoading || signUpForm.invalid || signUpForm.pending">
                      <img *ngIf=" isLoading" style="width: 24px; margin-top: -4px;" src="assets/images/spinner.gif" />
                      <span id="button-text"> Create Account</span>
                    </button>
                  </div>
                  <div class="form-group link-group">
                    <a [routerLink]="['/login']" class="login">Got An Account?
                    </a>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>