.main-content {
  font-size: 23px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-left: 23%;
  margin-top: 8%;
}
.first-form-group {
  margin-top: 30px;
}
.close {
  top: 6px;
}
.is-valid {
  border-color: #4caf50 !important;
}
.link-group{
  margin-left: 15%;
}
.pending-spinner{
  position: absolute;
    width: 33px;
    right: 25px;
    top: 10px;
}
.fa-exclamation-circle {
  color: #f44336 !important;
}
.fa-check {
  color: #4caf50 !important;
}
.is-invalid {
  border-color: #f44336 !important;
}
.close:hover {
  color: white;
}
.alert {
  font-size: 15px;
}
#email_msg {
  position: absolute;
  right: 7px;
  top: 6px;
}
.isOnline {
  position: fixed;
  top: 0;
}
#password_validation {
  position: absolute;
  top: 6px;
  right: 10px;
}
.card-title {
  font-size: 24px;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.submit-button {
  font-family: sans-serif !important;
}
.login {
  font-size: 13px;
  line-height: 52px;
}
.login:hover {
  text-decoration: underline;
}
span.text-danger {
  position: absolute;
  top: 6px;
  right: 23px;
  z-index: 10;
}
form {
  margin-top: 20px;
}
.form-control,
.form-control:focus {
  background-image: none !important;
}

.message {
  font-size: small;
  margin-left: 11px;
}

.incorrect {
  color: green;
  letter-spacing: 0.1px;
  font-weight: bold;
}
.correct {
  color: #dc3545;
  letter-spacing: 1px;
  font-weight: bold;
}
.icon {
  position: absolute;
  margin-top: -2.2em;
  margin-left: 41.5em;
  cursor: pointer;
}
.form-control {
  border: 1px solid #ced4da;
  border-radius: 6px;
  padding: 16px;
}
