@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
}
ul,
ol {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

body {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif !important;
  background-color: white !important;
}

.container-fluid {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
