
.dropdown-item .fa::before {
  vertical-align: super;
}

.isOnline {
  position: fixed;
  top: 62px;
  z-index: 10;
}

.loader-area-category {
  position: relative;
  width: 100px;
  margin-left: 45%;
  margin-top: 130px;
}

navbar-nav a {
  color: white !important;
}

.spinner {
  border: 6px solid silver;
  border-top: 8px solid #dc3545;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 350ms linear infinite;
  left: 50%;
  position: relative;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.dropdown-item:hover,
.dropdown-item:focus {
  /* box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 255, 255, 0.4); */
  background-color: none;
  cursor: pointer;
}

.dropdown-menu .dropdown-item:hover,
.dropdown-menu .dropdown-item:focus,
.dropdown-menu a:hover,
.dropdown-menu a:focus,
.dropdown-menu a:active {
  box-shadow: none !important;
  background-color: transparent !important;
  color: black !important;
}
.bg-dropdown {
  background-color: white;
  width: 89px;
  left: -9px;
  border-radius: 3px;
  height: 39px;
  position: absolute;
}

.dropdown-item {
  padding: 0.27rem 1.5rem !important;
  margin: 0;
  font-size: 14px !important;
}
.navbar-nav .dropdown a {
  font-size: 16px;
  text-transform: initial;
  color: rgba(0, 0, 0, 0.5);
}
.navbar-nav .dropdown a:hover {
  color: #1c232e;
}
.navbar-nav .dropdown a:hover .dropdown-item {
  color: #fff;
}

.contents1 {
  position: relative;
  margin-top: 5%;
  width: 103%;
  background-color: #1c3044;
  padding: 41px;
}

.searchtext {
  margin-bottom: 3%;
  margin-left: 4%;
  font-family: "khula", sans-serif !important;
  font-size: 20px;
  color: white;
}
.sort {
  padding: 7px;
  width: 106px;
  border: none;
  margin-left: 65%;
  background-color: white;
  cursor: pointer;
  box-shadow: 0 0 8px 0px #131313;
}

.filter {
  position: absolute;
  display: flex;
}

.filterdiv2 {
  position: relative;
  right: 0px;
  z-index: 0;
  width: 54%;
  border-bottom: 4px solid;
  margin-left: 28%;
  margin-bottom: 3%;
  margin-top: 3%;
  padding: 21px;
  border-color: #0e0d0d33;
}

.bookinfo .fa {
  position: absolute;
  font-size: 24px;
  cursor: pointer;
}
.bookinfo .fa.fa-thumbs-up {
  left: 265px;
}
.bookinfo .fa.fa-thumbs-up:hover {
  color: green;
}
.bookinfo .fa.fa-thumbs-down {
  left: 312px;
}
.bookinfo .fa.fa-thumbs-down:hover {
  color: #ca6356;
}
.booktext {
  position: absolute;
  top: 6.5%;
  left: 33%;
}
.pop {
  position: absolute;
  top: 6.5%;
  left: 39%;
  width: 11%;
  background-color: #f1523b;
  color: white;
  border: none;
  font-weight: 800;
  font-size: 13px;
}
.bookinfo {
  position: absolute;
  top: 22%;
  left: 33%;
  line-height: 32px;
  width: 67%;
}

.bookhead {
  font-size: 19px;
  font-weight: bold;
  color: rgb(50, 83, 83);
}

.booktitle {
  font-weight: 600;
  color: dimgray;
}

.bookopen {
  position: absolute;
  height: 37px;
  bottom: -19.5%;
  width: 100px;
  background: #495d70;
  color: white;
  border: none;
  font-weight: 500;
  cursor: pointer;
  right: 0;
}

.filterdiv {
  position: absolute;
  width: 111px;
  left: 144px;
  top: 50px;
}

.filterbook {
  padding: 7px;
  width: 106px;
  border: 1px solid #29303b;
  margin-left: 76%;
  margin-top: 12%;
  background-color: #f7f8fa;
  cursor: pointer;
}

.bookopen:hover {
  background-color: #f1523b;
  color: white;
  transition: 0.5s ease;
}
.scrolled {
  height: 60px !important;
}
.contents {
  z-index: 0;
  margin-top: -1% !important;
  position: relative;
}
.row .col-5 {
  margin-left: 83% !important;
}
.liked{
  color: #007bff;
}

.sorter{
  margin-top: -2% !important;
}
.no-results-found{
  margin-top: 4%;
  margin-left: 23%;
}

.page-item{
  background: #fff;
  border: 1px solid gainsboro;
  border-radius: 6px;
  font-family: sans-serif;
  cursor: pointer;
  color: #3c3c3c !important;
}
.text-rose {
  margin-left: 24px;
}

.page-item:hover{
  color: white !important;
  background-color: #2f96f3;
}
.page-item a {
 pointer-events: none;
}
