.login {
  background-color: transparent;
  border: 1px solid rgb(184, 181, 181);
  padding: 5px;
  width: 80px;
  position: absolute;
  right: 10%;
  cursor: pointer;
  font-weight: bolder;
  transform: translateY(-50%);
}
.dropdown-item .fa::before {
  vertical-align: super;
}
.search-navbar {
  top: 0;
  position: fixed;
  z-index: 1;
}
.isOnline {
  position: fixed;
  top: 62px;
  z-index: 10;
}
.login a {
  text-decoration: none;
  color: black;
}

.login:hover {
  background-color: #f5f5f5;
  color: white;
  transition: 0.5s ease;
  font-weight: bolder;
  border: none;
  border: 1px solid rgb(202, 202, 202);
}

.signin:hover {
  background-color: #dd6e60;
  border: 1px solid #ca6356;
  transition: 0.5s ease;
  font-weight: bolder;
}

.signin {
  background-color: #fe7865;
  border: 1px solid #ec5252;
  color: white;
  padding: 5px;
  width: 80px;
  position: absolute;
  right: 3%;
  cursor: pointer;
  font-weight: bolder;
  transform: translateY(-50%);
}

.signin a {
  text-decoration: none;
  color: white;
}

#search {
  cursor: pointer;
  color: #ec5252;
  position: absolute;
  left: 40%;
  padding: 10px;
}

#search:hover {
  cursor: pointer;
  background-color: #ec5252;
  color: white;
  transition: 0.5s ease;
}

.mainlist {
  position: relative;
  left: -32%;
  text-decoration: none;
  top: 50%;
  transform: translateY(-75%);
}

.searchin {
  border: 1px solid rgb(184, 181, 181);
  position: absolute;
  left: 40%;
  padding: 4px;
  width: 23%;
  padding-left: 40px;
}

.searchin::placeholder {
  color: rgb(153, 152, 152);
  padding-left: 5px;
}

.sublist {
  position: absolute;
  display: block;
  background-color: rgba(238, 238, 238, 1);
  padding: 0px;
  width: 177px;
}

.sublist li {
  position: relative;
  width: 177px;
  padding: 12px;
  border-bottom: 1px solid white;
  display: none;
}

.sublist li:hover {
  display: block;
  color: #ec5252;
  background-color: white;
  transition: 0.2s ease;
  cursor: pointer;
}

.mainlist li:hover .sublist li {
  display: block;
}

.navbar-logo {
  height: 40px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.col-5 {
  bottom: 21px;
  left: 86%;
  z-index: 1;
  position: absolute;
}
.loader-area-category {
  position: relative;
  width: 100px;
  margin-left: 45%;
  margin-top: 130px;
}
navbar-nav a {
  color: white !important;
}

.spinner {
  border: 6px solid silver;
  border-top: 8px solid #dc3545;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 350ms linear infinite;
  left: 50%;
  position: relative;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.nav-item input.form-control {
  border: 1px solid #ced4da;
  padding: 16px;
  box-shadow: none !important;
}
.navbar-collapse .navbar-nav {
  margin-left: 80px;
}
.dropdown-item:hover,
.dropdown-item:focus {
  /* box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 255, 255, 0.4); */
  background-color: none;
  cursor: pointer;
}

.dropdown-menu .dropdown-item:hover,
.dropdown-menu .dropdown-item:focus,
.dropdown-menu a:hover,
.dropdown-menu a:focus,
.dropdown-menu a:active {
  box-shadow: none !important;
  background-color: transparent !important;
  color: black !important;
}
.bg-dropdown {
  background-color: white;
  width: 89px;
  left: -9px;
  border-radius: 3px;
  height: 39px;
  position: absolute;
}

.dropdown-item {
  padding: 0.27rem 1.5rem !important;
  margin: 0;
  font-size: 14px !important;
}
.navbar-nav .dropdown a {
  font-size: 16px;
  text-transform: initial;
  color: rgba(0, 0, 0, 0.5);
}
.navbar-nav .dropdown a:hover {
  color: #1c232e;
}
.navbar-nav .dropdown a:hover .dropdown-item {
  color: #fff;
}
.navbar {
  height: 70px;
  position: fixed;
  width: 100%;
  background-color: white;
  box-shadow: 0px 0px 40px 0px rgba(156, 156, 156, 0.25);
  z-index: 999;
  top: 0;
}

.contents1 {
  position: relative;
  margin-top: 4.5%;
  width: 103%;
  background-color: #ed5243;
  padding: 54px;
  height: 160px;
}

.searchtext {
  margin-bottom: 2%;
  margin-left: 3%;
  position: absolute;
  font-size: 29px;
  font-family: khula, sans-serif;
  color: white;
}
.book_total {
  font-size: 18px !important;
}
.pages {
  padding: 7px;
  width: 132px;
  margin-left: 5%;
  background-color: white;
  cursor: pointer;
  box-shadow: 0 0 8px 0px #131313;
  border: none;
}

.sort {
  padding: 7px;
  width: 106px;
  border: none;
  margin-left: 65%;
  background-color: white;
  cursor: pointer;
  box-shadow: 0 0 8px 0px #131313;
}

.filter {
  position: absolute;
  display: flex;
}

.searchmain {
  position: relative;
}

.filterdiv2 {
  position: relative;
  right: 0px;
  z-index: 0;
  width: 54%;
  border-bottom: 4px solid;
  margin-left: 28%;
  margin-bottom: 3%;
  margin-top: 3%;
  padding: 21px;
  border-color: #0e0d0d33;
}
.book-actions {
  position: absolute;
}
.bookinfo .fa {
  position: absolute;
  font-size: 24px;
  cursor: pointer;
}
.bookinfo .fa.fa-thumbs-up {
  left: 265px;
}
.bookinfo .fa.fa-thumbs-up:hover {
  color: green;
}
.bookinfo .fa.fa-thumbs-down {
  left: 312px;
}

.bookinfo .fa.fa-thumbs-down:hover {
  color: #ca6356;
}

.booktext {
  position: absolute;
  top: 6.5%;
  left: 33%;
}

.pop {
  position: absolute;
  top: 6.5%;
  left: 39%;
  width: 11%;
  background-color: #f1523b;
  color: white;
  border: none;
  font-weight: 800;
  font-size: 13px;
}

.bookinfo {
  position: absolute;
  top: 22%;
  left: 33%;
  line-height: 32px;
  width: 67%;
}

.bookhead {
  font-size: 19px;
  font-weight: bold;
  color: rgb(50, 83, 83);
}

.booktitle {
  font-weight: 600;
  color: dimgray;
}

.bookopen {
  position: absolute;
  height: 37px;
  bottom: -19.5%;
  width: 100px;
  background: #495d70;
  color: white;
  border: none;
  font-weight: 500;
  cursor: pointer;
  right: 0;
}

.filterdiv {
  position: absolute;
  width: 111px;
  left: 144px;
  top: 50px;
}

.filterbook {
  padding: 7px;
  width: 106px;
  border: 1px solid #29303b;
  margin-left: 76%;
  margin-top: 12%;
  background-color: #f7f8fa;
  cursor: pointer;
}

#drop-content a {
  display: block;
  font-size: 17px;
  background-color: rgba(238, 238, 238, 1);
  color: black;
  padding: 10px;
  width: 197px;
  margin-top: 2px;
  margin-left: 20px;
}

#drop-content {
  position: absolute;
  z-index: 1;
}

#drop-content1 a {
  display: block;
  font-size: 17px;
  background-color: rgba(238, 238, 238, 1);
  color: black;
  padding: 10px;
  width: 197px;
  margin-top: 2px;
  margin-left: 20px;
}

#drop-content a:hover {
  display: block;
  color: #ec5252;
  background-color: white;
  transition: 0.2s ease;
}

#drop-content1 a:hover {
  display: block;
  color: #ec5252;
  background-color: white;
  transition: 0.2s ease;
}

#drop-content1 {
  position: absolute;
  z-index: 1;
  right: 13%;
}

#drop-content2 a {
  display: block;
  font-size: 17px;
  background-color: rgba(238, 238, 238, 1);
  color: black;
  padding: 10px;
  width: 197px;
  margin-top: 2px;
  margin-left: 20px;
}

#drop-content2 a:hover {
  display: block;
  color: #ec5252;
  background-color: white;
  transition: 0.2s ease;
  cursor: pointer;
}

#drop-content2 {
  position: absolute;
  z-index: 1;
  left: 11%;
}

.bookopen:hover {
  background-color: #f1523b;
  color: white;
  transition: 0.5s ease;
}

.searchin {
  position: absolute;
  top: 17px;
}

/* FOR TABLETS */

@media only screen and (max-width: 768px) {
  /* NAV BAR MEDIA QUERIES */
  #search {
    position: absolute;
    left: 40;
    height: 34px;
    top: 17px;
  }
  .navbar-logo {
    height: 37px;
  }
  .mainlist {
    margin-left: 0px;
  }
  .login {
    right: 16%;
  }
  .pages {
    margin-left: 3%;
    position: absolute;
  }
  .sort {
    margin-left: 81%;
  }
  .filterdiv2 {
    width: 77%;
    margin-left: 13%;
  }
}

/* FOR IPADS */

@media only screen and (min-width: 992px) and (max-width: 1024px) {
  /* NAVBAR MEDIA QUERIES */
  #search {
    position: absolute;
    left: 40%;
    height: 34px;
    top: 17px;
  }
  .login {
    right: 13%;
  }
  .navbar {
    top: 0;
  }
  /* END OF NAVBAR MEDIA QUERIES */
}
.scrolled {
  height: 60px !important;
}
.contents {
  z-index: 0;
  position: relative;
}
