<!-- NAVBAR -->
<div class="search-navbar">
  <app-navbar></app-navbar>
</div>
<div class="isOnline">
  <app-is-online></app-is-online>
</div>
<!-- CONTENT -->
<div class="contents">
  <div class="contents1">
    <p class="searchtext">
      {{ possession }} {{ page }} <br />
      <span class="book_total">{{ total }} Books</span>
    </p>
    <div class="row">
      <div class="col-5">
        <div class="bg-dropdown"></div>
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Sort
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a
                class="dropdown-item"
                id="readers"
                (click)="filterBooks($event)"
                >Most Popular
              </a>
              <a
                class="dropdown-item"
                id="downloads"
                (click)="filterBooks($event)"
                >Most Downloads</a
              >
              <a class="dropdown-item" id="name" (click)="filterBooks($event)"
                >Most Liked</a
              >
            </div>
          </li>
        </ul>

      </div>
   
    </div>
  </div>
  <div class="filter">
    <div class="filterdiv">
    </div>
  </div>
  <div class="books" *ngIf="!isNotConnected; else loadBooks">
    <div class="filterdiv2" *ngFor="let book of books">
      <!-- <img src="{{ BASE_URL }}{{ book.cover }}" alt="" height="200" width="200" /> -->
      <img src="../../assets/images/aa.jpg" alt="" height="200" width="200" />
      <p class="booktext">Book</p>
      <button class="pop" (click)="bookmark(1, 1, $event)" id="pop">
        Bookmark
      </button>
      <br />
      <div class="bookinfo">
        <span class="bookhead">{{ book.name }}</span> <br />
        <span class="booktitle">Provider :</span> &nbsp;&nbsp;
        <span>{{ book.provider }}</span> <br />
        <span class="booktitle">Category : </span> &nbsp;&nbsp;
        <span>{{ book.category }}</span> <br />
        <span>{{ book.readers }} views</span><br />
        <span>{{ book.Downloads }} views</span><br />

        <i class="fa fa-thumbs-up" (click)="likeBook(book.ISBN)"></i>
        <i class="fa fa-thumbs-down" (click)="dislikeBook(book.ISBN)"></i>

        <button class="bookopen" (click)="readBook(book.ISBN)">
          Read Book
        </button>
      </div>
    </div>
  </div>
  <ng-template #loadBooks>
    <div class="loader-area-category">
      <div class="spinner"></div>
    </div>
  </ng-template>
</div>
