<div class="container-fluid" *ngIf="!isLoggedIn; else dashboard">
  <div class="allPage">
    <div class="home-navbar">
      <app-navbar></app-navbar>
    </div>
    <div class="isOnline">
      <app-is-online></app-is-online>
    </div>

    <section id="home" class="home">
      <div class="section-content">
        <h1>Digital Transformation of Education</h1>
        <br />
        <p>
          Stunlab is is one of the Rwanda’s l free learning platforms for
          education and book reading. It is a for-profit social enterprise
          dedicated to making it possible for anyone, to study anything,
          anywhere, at any time, for free online.
        </p>
      </div>

      <div class="section-guider">
        <button
          class="btn btn-danger"
          type="button"
          [routerLink]="['/', 'signup']"
        >
          Enroll to Stunlab
        </button>
      </div>
      <!-- <img src="assets/images/1.jpg" alt="Slider" /> -->
    </section>

    <!-- BOOK NAV -->
    <section class="book-nav-slider" id="book-nav-slider">
      <div class="bookdiv">
        <ul class="booknav" id="booknav">
          <li
            class="navlist"
            *ngFor="let category of mostViewedCategories; let first = first"
            [class.active]="first"
            (click)="getCategoryBooks(category, $event)"
          >
            <a #{{category}}>{{ category }}</a>
          </li>
          <!-- <li class="navlist">
            <a (click)="getCategoryBooks()"> Technology</a>
          </li>
          <li class="navlist">
            <a (click)="getCategoryBooks()"> Humanities</a>
          </li>
          <li class="navlist">
            <a (click)="getCategoryBooks()"> Language</a>
          </li> -->
          <li class="slide"></li>
        </ul>
      </div>
    </section>
    <!-- Swiper -->
    <div class="booksliderdiv1" *ngIf="gotBookResponse; else loadBooks">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="post">
              <img src="assets/images/bb.jpg" alt="" class="slider-image" />
              <div class="post-info">
                <p id="para">
                  Miraculous Boy runs alot from the buildingfsfdadsfafafasdfasdf
                </p>
                <div class="post-meta">
                  <p class="book-category text-left">Adventure</p>
                  <p class="book-provider text-left">REB</p>
                  <p class="book-readers text-left">45&nbsp;&nbsp;Readers</p>
                  <div class="row text-left">
                    <div class="col-5">
                      <i class="fa fa-thumbs-up" (click)="likeBook()"></i
                      ><span class="likes">&nbsp;23</span>
                    </div>
                    <div class="col-5">
                      <i class="fa fa-thumbs-down" (click)="dislikeBook()"></i>
                      <span class="diss">&nbsp;45</span>
                    </div>
                  </div>
                </div>
                <button class="bookopen" (click)="readBook()">Read</button>
                <button class="pop" id="pop" (click)="bookmark()">
                  Bookmark
                </button>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="post">
              <img src="assets/images/bb.jpg" alt="" class="slider-image" />
              <div class="post-info">
                <p id="para">
                  Miraculous Boy runs alot from the buildingfsfdadsfafafasdfasdf
                </p>
                <div class="post-meta">
                  <p class="book-category text-left">Adventure</p>
                  <p class="book-provider text-left">REB</p>
                  <p class="book-readers text-left">45&nbsp;&nbsp;Readers</p>
                  <div class="row text-left">
                    <div class="col-5">
                      <img
                        src="assets/images/like.png"
                        alt=""
                        class="imge1"
                      /><span class="likes">&nbsp;23</span>
                    </div>
                    <div>
                      <img
                        src="assets/images/dislike.png"
                        alt=""
                        class="imge2"
                      />

                      <span class="diss">&nbsp;45</span>
                    </div>
                  </div>
                </div>
                <button class="bookopen">Read</button>
                <button class="pop" id="pop" (click)="bookmark()">
                  Bookmark
                </button>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="post">
              <img src="assets/images/bb.jpg" alt="" class="slider-image" />
              <div class="post-info">
                <p id="para">
                  Miraculous Boy runs alot from the buildingfsfdadsfafafasdfasdf
                </p>
                <div class="post-meta">
                  <p class="book-category text-left">Adventure</p>
                  <p class="book-provider text-left">REB</p>
                  <p class="book-readers text-left">45&nbsp;&nbsp;Readers</p>
                  <div class="row text-left">
                    <div class="col-5">
                      <img
                        src="assets/images/like.png"
                        alt=""
                        class="imge1"
                        (click)="likeBook()"
                      /><span class="likes">&nbsp;23</span>
                    </div>
                    <div class="col-5">
                      <img
                        src="assets/images/dislike.png"
                        alt=""
                        (click)="dislikeBook()"
                        class="imge2"
                      />
                      <span class="diss">&nbsp;45</span>
                    </div>
                  </div>
                </div>
                <button class="bookopen" (click)="readBook()">Read</button>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="post">
              <img src="assets/images/bb.jpg" alt="" class="slider-image" />
              <div class="post-info">
                <p id="para">
                  Miraculous Boy runs alot from the buildingfsfdadsfafafasdfasdf
                </p>
                <div class="post-meta">
                  <p class="book-category text-left">Adventure</p>
                  <p class="book-provider text-left">REB</p>
                  <p class="book-readers text-left">45&nbsp;&nbsp;Readers</p>
                  <div class="row text-left">
                    <div class="col-5">
                      <img
                        src="assets/images/like.png"
                        alt=""
                        (click)="likeBook()"
                        class="imge1"
                      /><span class="likes">&nbsp;23</span>
                    </div>
                    <div class="col-5">
                      <img
                        src="assets/images/dislike.png"
                        alt=""
                        class="imge2"
                      />
                      <span class="diss">&nbsp;45</span>
                    </div>
                  </div>
                </div>
                <button class="bookopen">Read</button>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="post">
              <img src="assets/images/bb.jpg" alt="" class="slider-image" />
              <div class="post-info">
                <p id="para">
                  Miraculous Boy runs alot from the buildingfsfdadsfafafasdfasdf
                </p>
                <div class="post-meta">
                  <p class="book-category text-left">Adventure</p>
                  <p class="book-provider text-left">REB</p>
                  <p class="book-readers text-left">45&nbsp;&nbsp;Readers</p>
                  <div class="row text-left">
                    <div class="col-5">
                      <img
                        src="assets/images/like.png"
                        alt=""
                        (click)="likeBook()"
                        class="imge1"
                      /><span class="likes">&nbsp;23</span>
                    </div>
                    <div class="col-5">
                      <img
                        src="assets/images/dislike.png"
                        alt=""
                        class="imge2"
                      />
                      <span class="diss">&nbsp;45</span>
                    </div>
                  </div>
                </div>
                <button class="bookopen">Read</button>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="post">
              <img src="assets/images/bb.jpg" alt="" class="slider-image" />
              <div class="post-info">
                <p id="para">
                  Miraculous Boy runs alot from the buildingfsfdadsfafafasdfasdf
                </p>
                <div class="post-meta">
                  <p class="book-category text-left">Adventure</p>
                  <p class="book-provider text-left">REB</p>
                  <p class="book-readers text-left">45&nbsp;&nbsp;Readers</p>
                  <div class="row text-left">
                    <div class="col-5">
                      <img
                        src="assets/images/like.png"
                        alt=""
                        class="imge1"
                      /><span class="likes">&nbsp;23</span>
                    </div>
                    <div class="col-5">
                      <img
                        src="assets/images/dislike.png"
                        alt=""
                        (click)="likeBook()"
                        class="imge2"
                      />
                      <span class="diss">&nbsp;45</span>
                    </div>
                  </div>
                </div>
                <button class="bookopen">Read</button>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="post">
              <img src="assets/images/bb.jpg" alt="" class="slider-image" />
              <div class="post-info">
                <p id="para">
                  Miraculous Boy runs alot from the buildingfsfdadsfafafasdfasdf
                </p>
                <div class="post-meta">
                  <p class="book-category text-left">Adventure</p>
                  <p class="book-provider text-left">REB</p>
                  <p class="book-readers text-left">45&nbsp;&nbsp;Readers</p>
                  <div class="row text-left">
                    <div class="col-5">
                      <img
                        src="assets/images/like.png"
                        alt=""
                        class="imge1"
                      /><span class="likes">&nbsp;23</span>
                    </div>
                    <div class="col-5">
                      <img
                        src="assets/images/dislike.png"
                        alt=""
                        (click)="likeBook()"
                        class="imge2"
                      />
                      <span class="diss">&nbsp;45</span>
                    </div>
                  </div>
                </div>
                <button class="bookopen">Read</button>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="post">
              <img src="assets/images/bb.jpg" alt="" class="slider-image" />
              <div class="post-info">
                <p id="para">
                  Miraculous Boy runs alot from the buildingfsfdadsfafafasdfasdf
                </p>
                <div class="post-meta">
                  <p class="book-category text-left">Adventure</p>
                  <p class="book-provider text-left">REB</p>
                  <p class="book-readers text-left">45&nbsp;&nbsp;Readers</p>
                  <div class="row text-left">
                    <div class="col-5">
                      <img
                        src="assets/images/like.png"
                        alt=""
                        (click)="likeBook()"
                        class="imge1"
                      /><span class="likes">&nbsp;23</span>
                    </div>
                    <div class="col-5">
                      <img
                        src="assets/images/dislike.png"
                        alt=""
                        class="imge2"
                      />
                      <span class="diss">&nbsp;45</span>
                    </div>
                  </div>
                </div>
                <button class="bookopen">Read</button>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="post">
              <img src="assets/images/bb.jpg" alt="" class="slider-image" />
              <div class="post-info">
                <p id="para">
                  Miraculous Boy runs alot from the buildingfsfdadsfafafasdfasdf
                </p>
                <div class="post-meta">
                  <p class="book-category text-left">Adventure</p>
                  <p class="book-provider text-left">REB</p>
                  <p class="book-readers text-left">45&nbsp;&nbsp;Readers</p>
                  <div class="row text-left">
                    <div class="col-5">
                      <img
                        src="assets/images/like.png"
                        alt=""
                        class="imge1"
                        (click)="likeBook()"
                      /><span class="likes">&nbsp;23</span>
                    </div>
                    <div class="col-5">
                      <img
                        src="assets/images/dislike.png"
                        alt=""
                        class="imge2"
                      />
                      <span class="diss">&nbsp;45</span>
                    </div>
                  </div>
                </div>
                <button class="bookopen">Read</button>
              </div>
            </div>
          </div>
        </div>

        <!-- Add Arrows -->
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
    <ng-template #loadBooks>
      <div class="loader-area-category">
        <div class="spinner"></div>
      </div>
    </ng-template>

    <app-mostviewed></app-mostviewed>
    <!-- COUNTER UP -->
    <div class="middle">
      <div class="counting-sec">
        <div class="inner-width">
          <div class="col">
            <img src="assets/images/book.png" alt="" />
            <div *ngIf="isNotConnected"></div>
            <div class="num" *ngIf="!isNotConnected">{{ number_books }}</div>
            <img
              *ngIf="isNotConnected"
              style="width: 50px; margin-top: -4px;"
              title="Checking"
              src="../../assets/images/spinner.gif"
            />
            Books
          </div>
        </div>
      </div>
      <div class="counting-sec">
        <div class="inner-width">
          <div class="col">
            <img src="assets/images/user.png" alt="" />
            <div *ngIf="isNotConnected"></div>
            <div class="num" *ngIf="!isNotConnected">{{ number_readers }}</div>
            <img
              *ngIf="isNotConnected"
              style="width: 50px; margin-top: -4px;"
              title="Checking"
              src="../../assets/images/spinner.gif"
            />
            Readers
          </div>
        </div>
      </div>
      <div class="counting-sec">
        <div class="inner-width">
          <div class="col">
            <img src="assets/images/down1.png" alt="" />
            <div *ngIf="isNotConnected"></div>
            <div class="num" *ngIf="!isNotConnected">
              {{ number_downloads }}
            </div>
            <img
              *ngIf="isNotConnected"
              style="width: 50px; margin-top: -4px;"
              title="Checking"
              src="../../assets/images/spinner.gif"
            />
            Downloads
          </div>
        </div>
      </div>
    </div>

    <!-- TOP CATEGORIES -->
    <section class="top-categories">
      <div class="lineCateg"></div>
      <h5 class="topcategHead">* Our categories</h5>

      <div class="categ">
        <button>
          &nbsp;&nbsp;&nbsp;<img src="assets/images/sci.png" alt="" />
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Sciences
        </button>
        <button>
          &nbsp;&nbsp;&nbsp;<img
            src="assets/images/text.png"
            alt=""
          />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Technoloy
        </button>
        <button>
          &nbsp;&nbsp;&nbsp;<img
            src="assets/images/lng.png"
            alt=""
          />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Language
        </button>
        <button>
          &nbsp;&nbsp;&nbsp;
          <i class="fa fa-newspaper-o"></i>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Literature
        </button>
        <button>
          &nbsp;&nbsp;&nbsp;<img
            src="assets/images/muntu.png"
            alt=""
          />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Humanities
        </button>
        <button>
          &nbsp;&nbsp;&nbsp;<img
            src="assets/images/ict.png"
            alt=""
          />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Ict
        </button>
        <button>
          &nbsp;&nbsp;&nbsp;<img
            src="assets/images/pro.png"
            alt=""
          />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Programming
        </button>
        <button>
          &nbsp;&nbsp;&nbsp;<img
            src="assets/images/sci.png"
            alt=""
          />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Sports
        </button>
      </div>
      <!-- section title -->
    </section>

    <!-- PATTERNERS -->
    <section class="paterners">
      <h2 class="text-center pat">OUR PATTERNERS</h2>
      <div class="paterns">
        <button><img src="assets/images/a.jpg" alt="" /></button>

        <button><img src="assets/images/b.jpg" alt="" /></button>
        <button><img src="assets/images/c.jpg" alt="" /></button>
        <button><img src="assets/images/d.jpg" alt="" /></button>
        <button><img src="assets/images/e.jpeg" alt="" /></button>
        <button><img src="assets/images/f.png" alt="" /></button>
      </div>
    </section>

    <section class="contact-section">
      <div class="contact">
        <h2>Get In Touch</h2>

        <div class="contact-info">
          <h4>Contact Info</h4>
          <ul class="contact-list">
            <li>
              <img src="assets/images/iconPhone.png" alt="" />+250783 869 632
            </li>
            <li>
              <img src="assets/images/iconEmail.png" alt="" />stunity@gmail.com
            </li>
            <li>
              <img src="assets/images/iconHome.png" alt="" />Kigali - Rwanda
            </li>
          </ul>
          <div class="forminputs">
            <input type="text" name="" id="" placeholder="Enter Your Name " />
            <input type="text" name="" id="" placeholder="Enter Your Email" />
            <br />
            <textarea
              class="textareaform"
              placeholder="Enter Your Message"
            ></textarea>
          </div>
          <button>CONTACT NOW</button>
          <div class="report-section">
            <a click="report()">Report a technical problem !</a>
          </div>
        </div>
      </div>
    </section>

    <app-footer></app-footer>
    <!-- FOOTER  -->

    <!-- <section class="myFooter">
      <div class="mainfoot">
        <div class="foot">
          <h5>ABOUT STUNLAB</h5>
          <ul>
            <li><a routerLink="/about"> About Us</a></li>
            <li><a href="#">Site map</a></li>
            <li><a href="#">Our books</a></li>
          </ul>
        </div>
        <div class="footer">
          <h5>CONNECT</h5>
          <ul>
            <li>
              <a href="#">
                <img src="assets/images/fb.png" alt="" /> Facebook</a
              >
            </li>
            <li>
              <a href="#"
                ><img src="assets/images/twit.png" alt="" /> Twitter</a
              >
            </li>
            <li>
              <a href="#"
                ><img src="assets/images/linkin.png" alt="" /> LinkedIn</a
              >
            </li>
            <li>
              <a href="#"
                ><img src="assets/images/ig.png" alt="" /> Instagram</a
              >
            </li>
          </ul>
        </div>

        <div class="downfoot">
          <h4>STUNLAB</h4>
          <span> Copyright © 2019 Stunlab, Inc.</span>
        </div>
      </div>
    </section> -->
  </div>
</div>

<ng-template #dashboard>
  <app-dashboard></app-dashboard>
</ng-template>
