.middle {
    background-color: #29303b;
    display: flex;
    width: 100%;
    transform: translateY(-50%);
    height: 203px;
    margin-top: 215px;
    position: relative;
  }

.counting-sec {
    padding: 40px 0;
    width: 100%;
}
.inner-width {
    max-width: 1200px;
    margin: auto;
  }
  
  .col {
    flex: 1;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
  }
  .col i {
   font-size: 30px;
  }
  
  .num {
    font-weight: bold;
    font-size: 18px;
    margin-top: 5px;
  }
  
