<section class="footer">
  <div class="row">
    <div class="footer-header col-4 bg-dark">
      <div class="footer-header-content">
        <h4 class="text-left">Stunlab</h4>
        <p class="text-left">
          Stunlab is is one of the Rwanda’s l free learning platforms for
          education and book reading.
        </p>
      </div>
    </div>
    <div class="footer-sitemap col-2 bg-dark">
      <div class="footer-sitemap-content">
        <h4 class="text-left">Site Map</h4>
        <ul>
          <li class="footer-sitemap-link">
            <a class="nav-link" [routerLink]="['/', 'about']">Home </a>
          </li>
          <li class="footer-sitemap-link">
            <a class="nav-link" [routerLink]="['/', 'about']">About </a>
          </li>
          <li class="footer-sitemap-link">
            <a class="nav-link" [routerLink]="['/', 'about']">Login </a>
          </li>
          <li class="footer-sitemap-link">
            <a class="nav-link" [routerLink]="['/', 'about']">Signup </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-sitemap col-2 bg-dark">
      <div class="footer-sitemap-content">
        <h4 class="text-left">More Apps</h4>
        <ul>
          <li class="footer-sitemap-link">
            <a class="nav-link" [routerLink]="['/', 'about']">StunnBook </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-newsletter col-4 bg-dark">
      <div class="footer-newsletter-content">
        <h4 class="text-left">Subscribe to our Newsletter</h4>
        <input type="text" [formControl]="subscriber" id="subscribe_newsletter" class="form-control" autocomplete="off"
          placeholder="Email Address" />
        <button [disabled]="subscriber.invalid" class="send-email" (click)="sendEmail(subscriber.value)">
          <i class="fa fa-send"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="footer-section-connect bg-dark col-12">
      <div class="footer-section-connect-content">
        <h4 class="text-left">Connect</h4>
        <ul>
          <li>
            <a> <img src="assets/images/fb.png" alt="Facebook" /></a>
          </li>
          <li>
            <a><img src="assets/images/twit.png" alt="Twitter" /> </a>
          </li>
          <li>
            <a><img src="assets/images/linkin.png" alt="Linked In" /> </a>
          </li>
          <li>
            <a><img src="assets/images/ig.png" alt="Instagram" /> </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="row">
      <div class="footer-bottom-content col-12">
        <h4>STUNNITY</h4>
      </div>
    </div>
  </div>
</section>